{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_empreendedor.html' %}
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
      <div class="col">
        {% if messages %}
          {% for message in messages %}
            <div class="alert {{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="row">
        <div class="col pb-3">
            Gostaria de cadastrar sua empresa na vitrine virtual? <a href="{% url 'empreendedor:cadastrar_empresa' %}">Clique aqui</a>
        </div>
    </div>
    <div class="row">
        
    </div>
    {% for registro in registros %}
    <div class="row border mb-3" style="background-color: white; border-radius: 30px;">
        <div class="col px-4 py-4 text-justify">
          <div class="row">
            <div class="col d-flex">
              {% if registro.logo %}
              <img src="{{registro.logo}}" alt="logo" class="me-3" style="width: 50px; height: 50px;">
              {% endif %}
              <h1>{{registro.empresa.nome}}</h1> 
            </div>
          </div> 
          <p>{{registro.empresa.descricao}}</p>
          <p class="mt-3">
            {% if registro.empresa.telefone %}
            <strong>Telefone:</strong><span class="ms-2">
              <a href="tel:{{registro.empresa.telefone}}">{{registro.empresa.telefone}}</a>
            </span><br>
            {% endif %}
            {% if registro.empresa.email %}
            <strong>Email:</strong><span class="ms-2">{{registro.empresa.email}}</span><br>
            {% endif %}
            {% if registro.empresa.site %}
            <strong>Site:</strong><a class="ms-2" href="{{registro.empresa.site}}">{{registro.empresa.site}}</a>
            {% endif %}
          </p>
        </a>
        </div>
        <div class="col d-flex p-3">
          {% for produto in registro.produtos %}
          <div class="p-2 w-100 d-flex flex-column">
            <img src="{{produto.imagem.url}}" alt="produto" class="mx-auto" style="width: 180px; height: 180px;">
            <p class="px-2">
              {{produto.descricao}}
            </p>
          </div>
          {% endfor %}
        </div>
    </div>
    {% endfor %}
    </div>
</div>
<div class="row mx-auto px-5">
  <script>
    document.getElementById('empreendedor_vitrine').classList.add('s-nav-active');
  </script>
</div>

<style>
  .border{
    border-color: rgba(146, 146, 146, 0.2) !important;
  }
</style>

</script>

{% endblock %}
{% block footer %}
{% include 'desenvolve_nf/instagram.html' %}
{% endblock %}