#banner{
    height: 500px;
}

#banner h1{
    font-size: 120pt;
}

main{
    background-color: var(--main-color);
    /* background-image: url(/static/images/bg.jpg);
    background-size: contain;
    background-repeat: no-repeat; */
    color: rgb(255, 255, 255);
}