<div id="navegacao" class="container">
    <div class="row">
      <div class="col d-flex justify-content-center flex-wrap">
        <a href="{% url 'estagio:index' %}" class="">
          <div class="d-flex flex-column align-items-center">
            <div
              id="s-index"
              class="s-nav rounded-circle {% block index %}{% endblock %}"
            ></div>
            <p class="text-dark">Início</p>
          </div>
        </a>
        <a href="{% url 'estagio:vagas' %}" class="">
          <div class="d-flex flex-column align-items-center">
            <div id="s-vagas" class="s-nav rounded-circle"></div>
            <p class="text-dark text-center">Vagas de <br>estágio</p>
          </div>
        </a> 
        <a href="{% url 'estagio:area_do_estudante' %}" class="">
          <div class="d-flex flex-column align-items-center">
            <div id="s-estudante" class="s-nav rounded-circle destaque"></div>
            <p class="text-dark  text-center">Área do <br>estudante</p>
          </div>
        </a>
        <a href="{% url 'estagio:area_da_universidade' %}" class="">
          <div class="d-flex flex-column align-items-center">
            <div id="s-universidade" class="s-nav rounded-circle destaque"></div>
            <p class="text-dark  text-center">Área da <br>instituição</p>
          </div>
        </a>
        {% if request.user.is_staff %}
        <a href="{% url 'estagio:adm' %}" class="">
          <div class="d-flex flex-column align-items-center">
            <div id="s-admin" class="s-nav rounded-circle destaque"></div>
            <p class="text-dark">Admin</p>
          </div>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  <style>
    #s-index {
      margin-right: 1rem !important;
      background-color: white !important;
      background-image: url(/static/images/icones/estagio_.png);
      background-size: contain;
    }
    #s-vagas {
      margin-right: 1rem !important;
      background-color: white !important;
      background-image: url(/static/images/icones/estagio_vagas.png);
      background-size: contain;
    }
    #s-instituicao {
      margin-right: 1rem !important;
      background-color: white !important;
      background-image: url(/static/images/icones/estagio_instituicao.png);
      background-size: contain;
    }
    #s-candidatos {
      margin-right: 1rem !important;
      background-color: white !important;
      background-image: url(/static/images/icones/estagio_candidatos.png);
      background-size: contain;
    }
    #s-estagiarios {
      margin-right: 1rem !important;
      background-color: white !important;
      background-image: url(/static/images/icones/estagio_estagiarios.png);
      background-size: contain;
    }
    #s-universidade {
      margin-right: 1rem !important;
      background-color: white !important;
      background-image: url(/static/images/icones/estagio_universidade.png);
      background-size: contain;
    }
    #s-supervisor {
      margin-right: 1rem !important;
      background-color: white !important;
      background-image: url(/static/images/icones/estagio_supervisor.png);
      background-size: contain;
    }
    #s-secretaria {
      margin-right: 1rem !important;
      background-color: white !important;
      background-image: url(/static/images/icones/estagio_secretaria.png);
      background-size: contain;
    }
    #s-estudante {
      margin-right: 1rem !important;
      background-color: white !important;
      background-image: url(/static/images/icones/curso_admin.png);
      background-size: contain;
    }
    #s-universidade {
      margin-right: 1rem !important;
      background-color: white !important;
      background-image: url(/static/images/icones/estagio_area_universidade.png);
      background-size: contain;
    }
    #s-admin {
      margin-right: 1rem !important;
      background-color: white !important;
      /* background-image: url(/static/images/icones/curso_admin.png); */
      background-size: contain;
    }
  </style>
  