asgiref==3.4.1
beautifulsoup4==4.11.1
certifi==2023.7.22
charset-normalizer==3.2.0
Django==3.2.15
django-bootstrap-v5==1.0.11
django-colorfield==0.8.0
et-xmlfile==1.1.0
fontawesomefree==6.1.2
idna==3.4
importlib-metadata==4.8.3
openpyxl==3.1.2
pdfkit==1.0.0
Pillow==10.0.0
PyMySQL==1.0.2
python-dateutil==2.8.2
pytz==2022.2.1
PyYAML==6.0
requests==2.28.2
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
typing_extensions==4.1.1
urllib3==1.26.16
zipp==3.6.0