{% extends 'template.html' %}
{% load bootstrap5 %}
{% load extras %}
{% load static%}
{% block title %}BEM VINDO - CURSOS LIVRES{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/administrativo.css' %}">

{% endblock %}
{% block administrativo %}fw-bold{% endblock %}
{% block main %}
<div class="row">
    <div class="col d-flex py-5"> 
        <div class="row w-100">
            <div class="col-10 pb-4 m-auto bg-white">
                <div class="row py-3 px-4">
                    <div class="col bg p-5">
                        <h1 class="display-4 text-center">ADMINISTRATIVO</h1>
                    </div>
                </div>              
                <div class="row">
                    <div class="col text-dark px-4 pt-4">
                       <div class="row">
                        <div class="col">
                          <h1 class="">
                           <span class="text-uppercase">Painel -> Turmas</span> -> Turma id. {{turma.id}}
                          </h1>
                        </div>
                        <div class="col-2 d-flex">
                            <a href="{% url 'administrativo' %}" class="btn btn-dark ms-auto my-auto">
                              PAINEL
                            </a>
                        </div>
                       </div>
                        <div class="row px-2 pt-2 d-flex">
                            <div class="col px-0 painel">
                                <a href="{% url 'adm_turmas_criar' %}"><i class="fa-solid fa-plus me-3"></i>CRIAR TURMA</a>
                                <a href="{% url 'adm_turmas_listar' %}" class="ativo"><i class="fa-regular fa-file-lines me-3"></i>LISTAR/EDITAR TURMAS</a>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-12 pt-4">
                            <form class="row px-2" method="POST">
                              <div class="col-12">
                                <div class="d-flex w-100">
                                  <div class="d-flex w-100">
                                    <h3 style="display: inline;">                                  
                                      {{turma.curso.nome}} {{turma.id}} - {{turma.local}} - {{turma.horario}}                                  
                                    </h3>                     
                                    <a class="btn btn-outline-dark ms-auto my-auto" href="{% url 'adm_turmas_listar' %}">
                                      <i class="me-2 fa-solid fa-rotate-left"></i>
                                      Voltar
                                    </a>    
                                    <a class="btn btn-outline-dark ms-1 my-auto" href="{% url 'adm_turma_visualizar_editar' turma.id %}">
                                      <i class="fa-solid fa-pen-to-square"></i>
                                    </a>         
                                  </div>                           
                                </div>
                                <div class="w-100 h-100 pt-3">
                                  <div class="row">
                                    <div class="col table-responsive">
                                      <table class="table">
                                        <tr style="border-color: white;">
                                          <td><b class="me-2">Atividade:</b>{{turma.curso.nome}}</td>
                                          <td><b class="me-2">Horário:</b>{{turma.horario}}</td>
                                          <td><b class="me-2">Status:</b> 
                                            {% if turma.status == 'pre' %}
                                            <span class="text-danger">Pré-inscrição</span>
                                            {% elif turma.status == 'ati' %}
                                            <span class="text-success">Ativa</span>
                                            {% elif turma.status == 'agu' %}
                                            <span class="text-warning">Aguardando</span>
                                            {% elif turma.status == 'acc' %}
                                            <span class="text-info">Ativo e aceitando candidatos</span>
                                            {% elif turma.status == 'enc' %}
                                            <span class="text-dark">Encerrada</span>
                                            {% endif %}
                                          </td>         
                                        <tr style="border-color: white;">
                                          <td><b class="me-2">Data inicial:</b>{{turma.data_inicio}}</td>
                                          <td><b class="me-2">Data final:</b>{{turma.data_final}}</td>
                                          <td><b class="me-2">Data inclusão:</b>{{turma.data_final}}</td>
                                        </tr>
                                        <tr style="border-color: white;">
                                          <td colspan="1"><b class="me-2">Data inclusão:</b>{{turma.data_final}}</td>                                          
                                          <!-- <td colspan="1"><b class="me-2">Última alteração:</b>{% if turma.user_ultima_alteracao %}{{turma.user_ultima_alteracao}}{% endif %}</td> -->
                                          <td ><b class="me-2">Professor:</b><a href="{% url 'adm_professores_editar' turma.instrutor.id %}" style="text-decoration: none;">{{turma.instrutor}}</a></td>  
                                          <td colspan="1"><b class="me-2">Criado por:</b>{{turma.user_inclusao}}</td>
                                        </tr>
                                        <tr style="border-color: white;">                                                                         
                                          <td><b class="me-2">Máximo de alunos permitidos:</b><i>{{turma.qnt}}</i></td>
                                          <td ><b class="me-2">Alunos matriculados:</b><i>{{qnt_alunos}}</i></td>                                          
                                          <td ><b class="me-2">Faixa etária:</b>
                                            <i>
                                              {% if turma.idade_min and turma.idade_max %}
                                              {{turma.idade_min}} até {{turma.idade_max}}
                                              {% elif turma.idade_min %}
                                              {{turma.idade_min}}+
                                              {% else %}
                                              Até {{turma.idade_max}}
                                              {% endif %}
                                            </i>
                                        </td>                                          
                                          
                                        </tr>
                                      </table>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col pt-3 table-responsive">
                                      <div class="row">
                                        <div class="col">
                                          <h2>Alunos:</h2>
                                        </div>
                                      </div>
                                      <table class="table table-striped table-primary">
                                        <thead>
                                          <!-- <th>
                                            <input type="checkbox" name="" id="">
                                          </th> -->
                                          <th>Nome</th>
                                          <th>Celular</th>
                                          <th>Email</th>
                                          <th>Idade</th>
                                          <th>Data da matrícula</th>
                                          <!-- <th class="text-center">Ver/Editar</th>                                       -->
                                        </thead>
                                        <tbody> 
                                          {% for matricula in matriculas %}                  
                                            <tr>                      
                                              <!-- <td>
                                                <input type="checkbox" name="" id="">
                                              </td> -->
                                              <td>
                                                <a href="#" style="text-decoration: none;">
                                                  {{matricula.aluno.nome}}
                                                </a>
                                              </td>
                                              <td>
                                                {{matricula.aluno.celular}}
                                              </td>
                                              <td>
                                                {{matricula.aluno.email}}
                                              </td>
                                              <td>
                                                {{matricula.aluno.dt_nascimento|idade}}
                                              </td>
                                              <td>
                                                {{matricula.data_matricula}}
                                              </td>
                                              <!-- <td class="text-center">
                                                <a href="#">
                                                  <i class="fa-solid fa-eye"></i>
                                                </a>
                                              </td> -->
                                            </tr>
                                            {% endfor %}
                                        </tbody>                                  
                                    </table>
                                    </div>
                                  </div>
                                  {% if turma.status == 'pre' or turma.status == 'acc'%}
                                  <div class="row">
                                    <div class="col pt-3 table-responsive">
                                      <div class="row">
                                        <div class="col">
                                          <h2>Selecionados:</h2>
                                        </div>                                            
                                      </div>
                                      <table class="table table-striped table-primary">
                                        <thead>
                                          <!-- <th>
                                            <input type="checkbox" name="" id="">
                                          </th> -->
                                          <th>Nome</th>
                                          <th>Celular</th>
                                          <th>Email</th>
                                          <th>Idade</th>
                                          <th>Data de cadastro</th>
                                          <!-- <th class="text-center">Ver/Editar</th>                                       -->
                                        </thead>
                                        <tbody> 
                                          {% for candidato in selecionados %}                  
                                            <tr>                      
                                              <!-- <td>
                                                <input type="checkbox" name="candidatos" id="{{candidato.id}}">
                                              </td> -->
                                              <td>
                                                <a href="{% url 'adm_turma_visualizar_selecionado' turma.id candidato.id %}" style="text-decoration: none;">
                                                  {{candidato.nome}}
                                                </a>
                                              </td>
                                              <td>
                                                {{candidato.celular}}
                                              </td>
                                              <td>
                                                {{candidato.email}}
                                              </td>
                                              <td>
                                                {{candidato.dt_nascimento|bg_idade}}
                                              </td>
                                              <td>
                                                {{candidato.dt_inclusao}}
                                              </td>
                                              <!-- <td class="text-center">
                                                <a href="#">
                                                  <i class="fa-solid fa-eye"></i>
                                                </a>
                                              </td> -->
                                            </tr>
                                            {% endfor %}
                                        </tbody>                                  
                                    </table>
                                    </div>
                                  </div>  
                                  <form method="POST">
                                  <div class="row">
                                    <div class="col pt-3 table-responsive">
                                      <div class="row">
                                        <div class="col">
                                          <h2>Candidatos:</h2>
                                        </div>
                                        <div class="col d-flex">
                                          {% csrf_token %}
                                          <button class="ms-auto my-auto btn btn-outline-dark">
                                            Selecionar candidatos
                                          </button>
                                        </div>      
                                      </div>
                                      <table class="table table-striped table-primary">
                                        <thead>
                                          <th>
                                            <input type="checkbox" name="" id="">
                                          </th>
                                          <th>Nome</th>
                                          <th>Celular</th>
                                          <th>Email</th>
                                          <th>Idade</th>
                                          <th>Data de cadastro</th>
                                          <!-- <th class="text-center">Ver/Editar</th>                                       -->
                                        </thead>
                                        <tbody> 
                                          {% for candidato in candidatos %}                  
                                            <tr>                      
                                              <td>
                                                <input type="checkbox" name="{{candidato.id}}" id="{{candidato.id}}">
                                              </td>
                                              <td>
                                                <a href="#" style="text-decoration: none;">
                                                  {{candidato.nome}}
                                                </a>
                                              </td>
                                              <td>
                                                {{candidato.celular}}
                                              </td>
                                              <td>
                                                {{candidato.email}}
                                              </td>
                                              <td>
                                                {{candidato.dt_nascimento|bg_idade}}                                                                                                
                                              </td>
                                              <td>
                                                {{candidato.dt_inclusao}}
                                              </td>
                                              <!-- <td class="text-center">
                                                <a href="#">
                                                  <i class="fa-solid fa-eye"></i>
                                                </a>
                                              </td> -->
                                            </tr>
                                            {% endfor %}
                                        </tbody>                                  
                                    </table>
                                    </div>
                                  </div> 
                                  </form>  
                                  {% endif %}                               
                                </div>
                              </div>                                                                                          
                          </form>
                          </div>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
{% if messages %}              
<!-- MODAL -->
<div class="modal fade" id="resposta" aria-hidden="true" aria-labelledby="respostaLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        {% for message in messages %}
        <div class="modal-header {% if message.tags %}{{message.tags}}{% endif %} border-0">
          <h5 class="modal-title text-dark text-center" id="exampleModalToggleLabel"></h5>
          <button type="button" onclick="myModal.hide();" class="btn-close"></button>
        </div>
        <div class="modal-body px-5 {% if message.tags %}{{message.tags}}{% endif %}">   
           
          <p class="px-4 py-3 text-center">
            {{ message|escape }}
          </p>
          
          
        </div>
        <div class="modal-footer {% if message.tags %}{{message.tags}}{% endif %} border-0">
          
        </div>
        {% endfor %}
      </div>

    </div>
  </div>   
  <script>
   var myModal = new bootstrap.Modal(document.getElementById('resposta'))
   myModal.toggle()
  </script>
  <style>
    .error{
      background-color: rgb(238, 171, 171);
      color: darkred;
      font-weight: 600;
    }
    .success{
      background-color: rgb(182, 238, 171);
      color: rgb(0, 139, 19);
      font-weight: 600
    }
    .warning{
      background-color: rgb(238, 226, 171);
      color: rgb(139, 107, 0);
      font-weight: 600
    }
  </style>
{% endif %}        

{% endblock %}