{% extends 'template.html' %}
{% load bootstrap5 %}
{% load static%}
{% block title %}BEM VINDO - CURSOS LIVRES{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/administrativo.css' %}">

{% endblock %}
{% block administrativo %}fw-bold{% endblock %}
{% block main %}
<div class="row">
    <div class="col d-flex py-5"> 
        <div class="row w-100">
            <div class="col-10 pb-4 m-auto bg-white">
                <div class="row py-3 px-4">
                    <div class="col bg p-5">
                        <h1 class="display-4 text-center">ADMINISTRATIVO</h1>
                    </div>
                </div>              
                <div class="row">
                    <div class="col text-dark px-4 pt-4">
                        <h1 class="text-uppercase">
                          Painel
                        </h1>
                        {% if instrutor %}
                        <div class="row px-4 pt-2 d-flex">
                          <div class="col painel">
                            <a href="{% url 'adm_turmas_listar' %}"><i class="fa-solid fa-users me-3"></i>Turmas</a>
                            <a href="{% url 'adm_alunos' %}"><i class="fa-solid fa-user me-3"></i>Alunos</a>                                                            
                          </div>
                        </div>
                        {% else %}
                        <div class="row px-4 pt-2 d-flex">
                            <div class="col painel">
                                <a href="{% url 'adm_locais_listar' %}"><i class="fa-solid fa-location-dot me-3"></i>Locais de Atividades</a>
                                <a href="{% url 'adm_categorias_listar' %}"><i class="fa-solid fa-font-awesome me-3"></i>Categorias de Atividades</a>
                                <a href="{% url 'adm_cursos_listar' %}"><i class="fa-solid fa-graduation-cap me-3"></i>Atividades</a>                                           
                            </div>
                        </div>
                        <div class="row px-4 d-flex">
                          <div class="col painel">
                              <a href="{% url 'adm_alunos' %}"><i class="fa-solid fa-user me-3"></i>Alunos</a>                                                            
                              <a href="{% url 'adm_professores_listar' %}"><i class="fa-solid fa-user-graduate me-3"></i>Instrutores</a>
                              <a href="{% url 'adm_turmas_listar' %}"><i class="fa-solid fa-users me-3"></i>Turmas</a>
                              <!-- <a href="#"><i class="fa-solid fa-book me-3"></i>Relatórios</a> -->
                          </div>
                      </div>
                      {% endif %}
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
<!-- MODAL -->
<div class="modal fade" id="formCandidato" aria-hidden="true" aria-labelledby="formCandidatoLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark text-center" id="exampleModalToggleLabel">CANDIDATAR-SE A ESCOLINHA DE SKATE</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-dark">            
            <form id="form" action="#">
                
            </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#confirmarCadastro" data-bs-toggle="modal" onclick="enviarFormulario()">Enviar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="confirmarCadastro" aria-hidden="true" aria-labelledby="confirmarCadastroLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="exampleModalToggleLabel2">RESPOSTA AQUI</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Hide this modal and show the first with the button below.
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-target="#formCandidato" data-bs-toggle="modal">Voltar ao formulário</button>
          <button class="btn btn-success" data-bs-dismiss="modal" aria-label="Close">Confirmar informações</button>
        </div>
      </div>
    </div>
  </div>  
  <script>
   
  </script>
{% endblock %}