{% extends 'template.html' %}
{% load bootstrap5 %}
{% load static%}
{% block title %}BEM VINDO - CURSOS LIVRES{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/cursos.css' %}">
<script src="{% static 'js/cursos.js' %}"></script>
{% endblock %}
{% block index %}active{% endblock %}
{% block main %}
<div class="row">
    <div class="col d-flex py-5"> 
        <div class="row w-100">
            <div class="col-10 pb-4 m-auto bg-white">
                <div class="row py-3 px-4">
                    <div class="col bg p-5">
                        <h1 class="display-4 text-center">CADASTRAR LOCAL</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex text-dark px-4">      
                      <a href="{% url 'cadastrar_categoria' %}" class="btn btn-dark me-2">
                        <i class="fa-solid fa-plus me-2"></i>
                        CADASTRAR CATEGORIA
                    </a>                            
                        <a href="{% url 'adm_cursos_criar' %}" class="btn btn-dark me-2">
                            <i class="fa-solid fa-plus me-2"></i>
                            CADASTRAR CURSO
                        </a>
                                 
                        <a href="{% url 'cursos' %}" class="btn btn-dark ms-auto">Voltar</a>
                    </div>                
                </div>
                <div class="row">
                    <div class="col text-dark px-4 pt-4">
                        <h1>
                            NOVO LOCAL
                        </h1>
                        <div class="row d-flex">
                            <form class="col-10 mx-auto pt-5" method="POST">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <button class="btn btn-dark">
                                    Cadastrar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>

{% endblock %}