{% extends 'template.html' %}
{% load static%}
{% block title %}BEM VINDO - CURSOS LIVRES{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/cursos.css' %}">
<script src="{% static 'js/cursos.js' %}"></script>
{% endblock %}
{% block index %}active{% endblock %}
{% block main %}
<div class="row">
    <div class="col d-flex py-5"> 
        <div class="row w-100">
            <div class="col-10 pb-4 m-auto bg-white">
                <div class="row py-3 px-4">
                    <div class="col bg p-5">
                        <h2>LISTA DE CURSOS</h2>
                    </div>
                </div>
                <div class="row filtragem visually-hidden">
                    <div class="col d-flex">
                        <div class="ms-auto text-dark pb-3">
                            <!-- <p class="mx-2">Filtrar por:</p> -->
                            {% for categoria in categorias %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="{{categoria.categoria}}" value="{{categoria.categoria}}" onclick="filtro(this)">
                                <label class="form-check-label" for="inlineCheckbox1">{{categoria.categoria}}</label>
                            </div>                              
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="filtro col px-4 text-dark d-flex flex-row-reverse">
                        <input type="checkbox" class="btn-check btnfiltro" id="btn-check-outlined" autocomplete="off">
                        <label class="btn btn-outline-dark" for="btn-check-outlined">
                            <i class="fv fa-solid fa-filter me-2"></i>
                            <span id="txt">
                            Filtrar
                            </span>
                        </label>
                        <!-- <button class="btn btn-outline-dark">
                            <i class="fa-solid fa-filter me-2"></i>
                            Filtrar
                        </button> -->                        
                    </div>
                </div>
                <div class="row">
                    <div class="col px-4 text-dark">
                        {% for cursos in categorias %}
                        <h3 class="mt-4">{{cursos.categoria}}</h3>
                        <div class="accordion py-3" id="accordionExample">
                            {% for i in cursos.curso %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{cursos.categoria}}{{ forloop.counter}}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{cursos.categoria}}{{ forloop.counter}}" aria-expanded="true" aria-controls="collapse{{cursos.categoria}}{{ forloop.counter}}">
                                        {{i.instituicao}} - {{i.nome}}
                                    </button>
                                </h2>
                                <div id="collapse{{cursos.categoria}}{{ forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="heading{{cursos.categoria}}{{ forloop.counter}}" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>{{i.descricao}}</p>
                                        <ul class="mt-3">
                                            <li>Duração: {{i.carga_horaria}}</li>
                                            <li>Local: {{i.local}}</li>                                            
                                        </ul>
                                        <div class="row">
                                            <div class="col d-flex flex-row-reverse">
                                                <button type="button" class="btnacor btn btn-outline">CANDIDATAR</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% endfor %}                            
                        </div>                         
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}