{% extends 'template.html' %}
{% load bootstrap5 %}
{% load static%}
{% block nav %}
{% include 'nav_cursos.html' %}
{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/ensino_superior.css">
<script src="{% static 'js/cursos.js' %}"></script>
{% endblock %}
{% block main %}
<div class="row container mx-auto div_main_enSup">
  <h1>Ensino Superior</h1>
  <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-2 mb-5 mt-4 mx-4 p-3 rounded div_cursos_enSup shadow-lg h-75">
        <div class="position-relative">
          <h2 class="h2 fs-6">Licenciatura em Letras</h2>
          <img class="w-25 img_cecierj position-absolute" src="/static/images/logo-cecierj-1.png" alt="logo cecierj">
          <button class="btn btn-outline-primary btn-details btn_enSup position-absolute px-4 rounded-2">Ver Mais</button>
        </div>
      </div>
      <div class="col-sm-2 mb-5 mt-4 mx-4 p-3 rounded div_cursos_enSup shadow-lg h-75">
        <div class="position-relative">
          <h2 class="h2 fs-6">Biblioteconomia</h2>
          <img class="w-25 img_cecierj position-absolute" src="/static/images/logo-cecierj-1.png" alt="logo cecierj">
          <button class="btn btn-outline-primary btn-details btn_enSup position-absolute px-4 rounded-2">Ver Mais</button>
        </div>
      </div>
      <div class="col-sm-2 mb-5 mt-4 mx-4 p-3 rounded div_cursos_enSup shadow-lg h-75">
        <div class="position-relative">
          <h2 class="h2 fs-6">Licenciatura em Geografia</h2>
          <img class="w-25 img_cecierj position-absolute" src="/static/images/logo-cecierj-1.png" alt="logo cecierj">
          <button class="btn btn-outline-primary btn-details btn_enSup btn_problematico position-absolute px-4 rounded-2">Ver Mais</button>
        </div>
      </div>
      <div class="col-sm-2 mb-5 mt-4 mx-4 p-3 rounded div_cursos_enSup  shadow-lg h-75">
        <div class="position-relative">
          <h2 class="h2 fs-6">Ciências Contábeis</h2>
          <img class="w-25 img_cecierj position-absolute" src="/static/images/logo-cecierj-1.png" alt="logo cecierj">
          <button class="btn btn-outline-primary btn-details btn_enSup position-absolute px-4 rounded-2">Ver Mais</button>
        </div>
      </div>
      <div class="col-sm-2 rounded div_cursos_enSup mx-4 p-3 shadow-lg h-75">
        <div class="position-relative">
          <h2 class="h2 fs-6">Tecnologia em Segurança Pública</h2>
          <img class="w-25 img_cecierj position-absolute" src="/static/images/logo-cecierj-1.png" alt="logo cecierj">
          <button class="btn btn-outline-primary btn-details btn_enSup btn_problematico position-absolute px-4 rounded-2">Ver Mais</button>
        </div>
      </div>
      <div class="col-sm-2 rounded div_cursos_enSup mx-4 p-3 shadow-lg h-75">
        <div class="position-relative">
          <h2 class="h2 fs-6">Licenciatura em Ciências Biologicas</h2>
          <img class="w-25 img_cecierj position-absolute" src="/static/images/logo-cecierj-1.png" alt="logo cecierj">
          <button class="btn btn-outline-primary btn-details btn_enSup btn_problematico position-absolute px-4 rounded-2">Ver Mais</button>
        </div>
      </div>
      <div class="col-sm-2 rounded div_cursos_enSup mx-4 p-3 shadow-lg h-75">
        <div class="position-relative">
          <h2 class="h2 fs-6">Licenciatura em Pedagogia</h2>
          <img class="w-25 img_cecierj position-absolute" src="/static/images/logo-cecierj-1.png" alt="logo cecierj">
          <button class="btn btn-outline-primary btn-details btn_enSup btn_problematico position-absolute px-4 rounded-2">Ver Mais</button>
        </div>
      </div>
      <div class="col-sm-2 rounded div_cursos_enSup mx-4 p-3 h-75 shadow-lg">
        <div class="position-relative">
          <h2 class="h2 fs-6">Licenciatura em Química</h2>
          <img class="w-25 img_cecierj position-absolute" src="/static/images/logo-cecierj-1.png" alt="logo cecierj">
          <button class="btn btn-outline-primary btn-details btn_enSup btn_problematico position-absolute px-4 rounded-2">Ver Mais</button>
        </div>
      </div>
  </div>
</div>
<script>

  document.getElementById('s-en-superior').classList.add('s-nav-active');

</script>
{% endblock %}
{% block footer %}
{% include 'instagram_desenvolve.html' %}
{% endblock %}