{% extends 'template.html' %}
{% load bootstrap5 %}
{% load static%}
{% block nav %}
{% include 'nav_cursos.html' %}
{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/ensino_superior.css">
<script src="{% static 'js/cursos.js' %}"></script>
{% endblock %}
{% block main %}
<div class="row container mx-auto div_main_enSup">
  <h1>Ensino Superior</h1>
  <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-2 mb-5 mt-4 mx-4 p-3 rounded div_cursos_enSup h-75">
        <div class="position-relative">
          <h2 class="h2 fs-6">Licenciatura em Letras</h2>
          <button class="btn_enSup bg-dark text-light position-absolute p-2 rounded-2">Ver Mais</button>
        </div>
      </div>
      <div class="col-sm-2 mb-5 mt-4 mx-4 p-3 rounded div_cursos_enSup h-75">
        <div class="position-relative">
          <h2 class="h2 fs-6">Biblioteconomia</h2>
          <button class="btn_enSup bg-dark text-light position-absolute p-2 rounded-2">Ver Mais</button>
        </div>
      </div>
      <div class="col-sm-2 mb-5 mt-4 mx-4 p-3 rounded div_cursos_enSup h-75">
        <div class="position-relative">
          <h2 class="h2 fs-6">Licenciatura em Geografia</h2>
          <button class="btn_enSup bg-dark text-light position-absolute mt-5 p-2 rounded-2">Ver Mais</button>
        </div>
      </div>
      <div class="col-sm-2 mb-5 mt-4 mx-4 p-3 rounded div_cursos_enSup h-75">
        <div class="position-relative">
          <h2 class="h2 fs-6">Ciências Contábeis</h2>
          <button class="btn_enSup bg-dark text-light position-absolute p-2 rounded-2">Ver Mais</button>
        </div>
      </div>
      <div class="col-sm-2 rounded div_cursos_enSup mx-4 p-3 h-75">
        <div class="position-relative">
          <h2 class="h2 fs-6">Tecnologia em Segurança Pública</h2>
          <button class="btn_enSup bg-dark text-light position-absolute p-2 mt-5 rounded-2">Ver Mais</button>
        </div>
      </div>
      <div class="col-sm-2 rounded div_cursos_enSup mx-4 p-3 h-75">
        <div class="position-relative">
          <h2 class="h2 fs-6">Licenciatura em Ciências Biologicas</h2>
          <button class="btn_enSup bg-dark text-light position-absolute p-2 mt-5 rounded-2">Ver Mais</button>
        </div>
      </div>
      <div class="col-sm-2 rounded div_cursos_enSup mx-4 p-3 h-75">
        <div class="cursos">
          <h2 class="h2 fs-6">Licenciatura em Pedagogia</h2>
          <button class="btn_enSup bg-dark text-light position-absolute p-2 mt-5 rounded-2">Ver Mais</button>
        </div>
      </div>
      <div class="col-sm-2 rounded div_cursos_enSup mx-4 p-3 h-75">
        <div class="position-relative">
          <h2 class="h2 fs-6">Licenciatura em Química</h2>
          <button class="btn_enSup bg-dark text-light position-absolute p-2 mt-5 rounded-2">Ver Mais</button>
        </div>
      </div>
  </div>
</div>
<script>

  document.getElementById('s-en-superior').classList.add('s-nav-active');

</script>
{% endblock %}
{% block footer %}
{% include 'instagram_desenvolve.html' %}
{% endblock %}