{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_cursos.html' %}
{% endblock %}}
{% block index %}
.s-nav-active
{% endblock %}
{% block main %}
<div class="container">
<div class="row mx-auto ps-4 pb-5 pt-1">
  <div class="row">
    <h2 class="ms-2 py-1">Destaque</h2>
  </div>
  <div class="row ">
    <div class="d-flex bg-white img-txt">
      <div class="img-destaque">
        <img src="{{evento_destaque.banner_img.url}}" style="width: 791.925px;">
      </div>
      <div class="text-destaque pt-4 pb-0 px-4 d-flex flex-column">
        <h5 class="mb-1">{{evento_destaque.subtitulo}}</h5>
        <h7 class="mb-1">{{evento_destaque.subtitulo}}</h7>
        <p class="time">{{evento_destaque.data_inicio | date:"d/m/y"}} - {{evento_destaque.data_fim | date:"d/m/y"}}</p>
        <p class="local"><a href="{{evento_destaque.google_maps}}"><i class="fa-solid fa-location-dot mb-3 me-2"></i>{{evento_destaque.local}}</a></p>    
        <p class="inf text-secondary">{{evento_destaque.descricao}}</p>
        <button class="btn btn-outline-primary btn-details me-auto" id="esp">Detalhes</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col d-flex pe-4">
    <h2 class="ms-5 pt-5 pb-4">Cursos e Palestras</h2>
    <a class="ms-auto mt-auto mb-5 me-5" href="{% url 'cursos:cursos' tipo='cursos' %}">
      <small>Ver mais</small>
    </a>
  </div>
</div>

<div class="row mx-auto px-5">
  <div class="d-flex justify-content-evenly flex-wrap">
    {% for curso in cursos %}
    <div class="item">
      <div class="c-img" style="position: relative;">
        <img src="{{curso.banner.url}}" style="width: 279px; height: 101px;">
        <span class="badge" style="border-radius: 0.35rem; position: absolute; top: 0; right: 0; margin: 5px; background-color: {{curso.categoria.cor}};">
          {{curso.categoria.nome}}          
        </span>
      </div>
      <div class="curso-text mx-2 d-flex flex-column py-1">
        <h6 class="mt-2">{{curso.nome}}</h6>
        <p class="time">{{curso.get_tipo_display}} - {{curso.carga_horaria}} {{curso.get_tipo_carga_horaria_display}}{% if curso.carga_horaria > 1 %}s{% endif %}</p>
        <!-- <p class="mb-3 mt-2" style="padding: 0px 10px;">{{curso.descricao}}</p> -->
        <a href="{% url 'cursos:curso_detalhe' tipo=curso.get_tipo_display id=curso.id %}" class="btn btn-outline-primary rounded-1 btn-details py-1 mt-auto mb-3" id="esp-2">Ver detalhes</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- <div class="row">
  <h2 class="ms-5 pt-5 pb-4">Ensino Superior e Técnico</h2>
</div>

<div class="row mx-auto px-5">
  <div class="d-flex justify-content-evenly">
    <div class="item">
      <div class="c-img">
        <img src="http://localhost:8000/media/cursos_livres/media/banner/financas-pessoais.jpg" class="img-fluid">
      </div>
      <div class="c-text mx-2 d-flex flex-column py-1">
        <h5 class="mt-2">Curso do Rhafael</h5>
        <p class="time ">09/01/2023</p>
        <p>Curso de finanças pessoais lorem ipsum dolor...</p>
        <button class="btn btn-outline-primary rounded-1 btn-details py-1  my-3 mx-auto" id="esp-2">Ver detalhes</button>
      </div>
    </div>
  </div>
</div> -->
<div class="row mx-auto px-5">
  
</div>
</div>
{% endblock %}
{% block footer %}
{% include 'instagram_desenvolve.html' %}
{% endblock %}