{% extends 'template.html' %}
{% load static %}
{% block main %}
<div class="row">
  <h2 class="ms-4 py-1">Destaque</h2>
</div>
<div class="row">
  <div class="d-flex">
    <div class="img-destaque">
      <img src="{{evento_destaque.banner_img.url}}" class="img-fluid">
    </div>
    <div class="text-destaque my-4 mx-4 d-flex flex-column">
      <h5 class="mb-1">{{evento_destaque.titulo}}</h5>
      <h7 class="mb-1">{{evento_destaque.subtitulo}}</h7>
      <p class="time fw-bold">{{evento_destaque.data_inicio | date:"d/m/y"}} - {{evento_destaque.data_fim | date:"d/m/y"}}</p>
      <p class="local"><a href="{{evento_destaque.google_maps}}"><i class="fa-solid fa-location-dot mb-3 me-2"></i>{{evento_destaque.local}}<a/></p>
      <p class="inf text-secondary">{{evento_destaque.descricao}}</p>
      <a href="" target="_blank" class="btn btn-outline-primary btn-details my-auto me-1">Detalhes</a>
    </div>
  </div>
</div>
<div class="row">
  <h2 class="ms-4 pt-5 pb-4">Cursos e Palestras</h2>
</div>
<div class="row mx-auto px-5">
  <div class="d-flex justify-content-evenly">
    <div class="item">
      <div class="c-img">
        <img src="{% static 'images/capacitanf.png' %}" class="img-fluid rounded-3">
      </div>
      <div class="c-text mx-2 d-flex flex-column py-1">
        <h5>Curso do Rhafael</h5>
        <p class="time fw-bold">09/01/2023</p>
        <p>Curso de finanças pessoais lorem ipsum dolor...</p>
        <button class="btn btn-outline-primary rounded-1 btn-details py-1  my-3 mx-auto" id="esp-2">Ver detalhes</button>
      </div>
    </div>
    <div class="item">
      <div class="c-img">
        <img src="{% static 'images/capacitanf.png' %}" class="img-fluid rounded-3">
      </div>
      <div class="c-text mx-2 d-flex flex-column py-1">
        <h5>Curso do Rhafael</h5>
        <p class="time fw-bold">09/01/2023</p>
        <p>Curso de finanças pessoais lorem ipsum dolor...</p>
        <button class="btn btn-outline-primary rounded-1 btn-details py-1  my-3 mx-auto" id="esp-2">Ver detalhes</button>
      </div>
    </div>
    <div class="item">
      <div class="c-img">
        <img src="{% static 'images/capacitanf.png' %}" class="img-fluid rounded-3">
      </div>
      <div class="c-text mx-2 d-flex flex-column py-1">
        <h5>Curso do Rhafael</h5>
        <p class="time fw-bold">09/01/2023</p>
        <p>Curso de finanças pessoais lorem ipsum dolor...</p>
        <button class="btn btn-outline-primary rounded-1 btn-details py-1  my-3 mx-auto" id="esp-2">Ver detalhes</button>
      </div>
    </div>
    <div class="item">
      <div class="c-img">
        <img src="{% static 'images/capacitanf.png' %}" class="img-fluid rounded-3">
      </div>
      <div class="c-text mx-2 d-flex flex-column py-1">
        <h5>Curso do Rhafael</h5>
        <p class="time fw-bold">09/01/2023</p>
        <p>Curso de finanças pessoais lorem ipsum dolor...</p>
        <button class="btn btn-outline-primary rounded-1 btn-details py-1  my-3 mx-auto" id="esp-2">Ver detalhes</button>
      </div>
    </div>

  </div>
</div>

{% endblock %}