{% extends 'template.html' %}
{% load static %}
{% block main %}
<div class="row">
  <h2 class="ms-4 py-1">Destaque</h2>
</div>
<div class="row">
  <div class="d-flex">
    <div class="img-destaque">
      <img src="{% static 'images/capacitanf.png' %}" class="img-fluid">
    </div>
    <div class="text-destaque my-4 mx-4 d-flex flex-column">
      <h5 class="mb-1">Capacita Nova Friburgo</h5>
      <p class="time fw-bold">03/02/2023 - 28/02/2023 - 17:00 - 21:00</p>
      <p class="local">Estácio - Nova Friburgo - Rio de Janeiro - Brasil.</p>
      <p class="inf">Com transmissão online</p>
      <a href="https://www.even3.com.br/capacita-nova-friburgo/" target="_blank" class="btn btn-outline-primary btn-details esp me-auto">Detalhes</a>
    </div>
  </div>
</div>
<div class="row">
  <h2 class="ms-4 pt-5 pb-4">Cursos e Palestras</h2>
</div>
<div class="row mx-auto px-5">
  <div class="d-flex justify-content-evenly">
    <div class="item">
      <div class="c-img">
        <img src="{% static 'images/capacitanf.png' %}" class="img-fluid rounded-3">
      </div>
      <div class="c-text mx-2 d-flex flex-column py-1">
        <h5>Curso do Rhafael</h5>
        <p class="time fw-bold">09/01/2023</p>
        <p>Curso de finanças pessoais lorem ipsum dolor...</p>
        <button class="btn btn-outline-primary rounded-1 btn-details py-1  my-3 mx-auto" id="esp-2">Ver detalhes</button>
      </div>
    </div>
    <div class="item">
      <div class="c-img">
        <img src="{% static 'images/capacitanf.png' %}" class="img-fluid rounded-3">
      </div>
      <div class="c-text mx-2 d-flex flex-column py-1">
        <h5>Curso do Rhafael</h5>
        <p class="time fw-bold">09/01/2023</p>
        <p>Curso de finanças pessoais lorem ipsum dolor...</p>
        <button class="btn btn-outline-primary rounded-1 btn-details py-1  my-3 mx-auto" id="esp-2">Ver detalhes</button>
      </div>
    </div>
    <div class="item">
      <div class="c-img">
        <img src="{% static 'images/capacitanf.png' %}" class="img-fluid rounded-3">
      </div>
      <div class="c-text mx-2 d-flex flex-column py-1">
        <h5>Curso do Rhafael</h5>
        <p class="time fw-bold">09/01/2023</p>
        <p>Curso de finanças pessoais lorem ipsum dolor...</p>
        <button class="btn btn-outline-primary rounded-1 btn-details py-1  my-3 mx-auto" id="esp-2">Ver detalhes</button>
      </div>
    </div>
    <div class="item">
      <div class="c-img">
        <img src="{% static 'images/capacitanf.png' %}" class="img-fluid rounded-3">
      </div>
      <div class="c-text mx-2 d-flex flex-column py-1">
        <h5>Curso do Rhafael</h5>
        <p class="time fw-bold">09/01/2023</p>
        <p>Curso de finanças pessoais lorem ipsum dolor...</p>
        <button class="btn btn-outline-primary rounded-1 btn-details py-1  my-3 mx-auto" id="esp-2">Ver detalhes</button>
      </div>
    </div>

  </div>
</div>
{% endblock %}