{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_estagio.html' %}
{% endblock %}
{% block css %} {% endblock %}
{% block main %}

    <div class="d-flex flex-wrap">        
      <h2 id="go">Processo nº {{processo.n_processo}}</h2>   
      {% if TCE %}
      <a target="_blank" class="btn btn-success ms-auto me-2 my-auto" href="{{TCE}}">
       <i class="fa-solid fa-file-pdf me-2"></i>TCE
      </a>    
      {% else %}
      <button target="_blank" class="btn btn-success ms-auto me-2 my-auto" disabled>
        <i class="fa-solid fa-file-pdf me-2"></i>TCE
      </button>    
      {% endif %}
      <a class="btn btn-primary my-auto" href="{% url 'estagio:editar_candidato' id %}">
        <i class="fa-solid fa-paperclip me-2"></i>Atualizar processo
      </a>  
      <a class="btn btn-secondary ms-2 my-auto" href="{{back_to}}">
        <i class="fa-solid fa-backward-step me-2"></i>Voltar
      </a>       
    </div>
    <div class="row">
      <div class="col pt-3 pb-4">
          <div class="table-responsive pt-4 border" style="background-color: white; border-radius: 30px; padding: 20px;">
              <h2>Dados do Candidato</h2>
              
              <table class="table">
                  <tr>
                      <th>Nome</th>
                      <td>{{ estudante.pessoa.nome }}</td>
                  </tr>
                  <tr>
                      <th>Email</th>
                      <td>{{ estudante.pessoa.email }}</td>
                  </tr>
                  <tr>
                      <th>CPF</th>
                      <td>{{ estudante.pessoa.cpf }}</td>
                  </tr>
                  <tr>
                      <th>Telefone</th>
                      <td>{{ estudante.pessoa.telefone }}</td>
                  </tr>
                  <tr>
                      <th>Data de Nascimento</th>
                      <td>{{ estudante.pessoa.dt_nascimento }}</td>
                  </tr>
                  <tr>
                      <th>Bairro</th>
                      <td>{{ estudante.pessoa.bairro }}</td>
                  </tr>
                  <!-- Adicione mais campos conforme necessário -->
                  <tr>
                      <th>Matrícula</th>
                      <td>{{ estudante.matricula }}</td>
                  </tr>
                  <tr>
                      <th>Universidade</th>
                      <td>{{ estudante.universidade.nome }}</td>
                  </tr>
                  <tr>
                      <th>Curso</th>
                      <td>{{ estudante.curso.nome }}</td>
                  </tr>
              </table>
              
          </div>
      </div>
  </div>
  
    <div class="row ">
      <div class="col pt-3 pb-4">
       <div class="table-responsive pt-4 border" style="background-color: white; border-radius: 30px; padding: 20px;">             
        <table class="table table-borderless ">
          <thead>
            <tr>
              <th>Dt. de processo</th>
              <th>Status</th>
              <th>Mensagem</th>
            </tr>
          </thead>
          <tbody>
          {% for h in historico %}          
            <tr class="border-top">
              {% if forloop.first %}
              <td style="background-color: rgba(255, 210, 127, 0.356);"><strong>{{h.data_inclusao}} </strong></td>
              <td style="background-color: rgba(255, 210, 127, 0.356);"><strong>{{h.get_status_display}}</strong></td>
              <td style="background-color: rgba(255, 210, 127, 0.356);"><i><strong>{{h.mensagem}}</strong></i></td>
              {% else %}
              <td>{{h.data_inclusao}}</td>
              <td>{{h.get_status_display}}</td>
              <td><i>{{h.mensagem}}</i></td>
              {% endif %}              
            </tr>            
          {% endfor %}
          </tbody>
        </table>
       </div>
      </div>
    </div>

    

{% endblock %}
{% block footer %}
{% include 'desenvolve_nf/instagram.html' %}
{% endblock %}