{% extends 'template.html' %}
{% load static %}
{% load bootstrap5 %}
{% block nav %}
{% include 'nav_estagio.html' %}
{% endblock %}
{% block css %} {% endblock %}
{% block main %}
    <div class="row">
      <div class="col d-flex">
        <h1>Área do Estudante - Anexar TCE</h1>
        <a href="{% url 'estagio:processo_da_vaga' id %}" class="btn btn-secondary my-auto ms-auto">
          Voltar
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col pb-5 d-flex">
        {% if url %}
        <p class="text-secondary">Nossa equipe revisará o documento e entrará em contato caso haja alguma informação adicional necessária.</p>
        {% else %}
        <p class="text-secondary"><i>Se você ainda não possui o TCE, baixe-o <a href="{% static 'TCE.pdf' %}"><strong>aqui</strong></a> e preencha todas as informações necessárias. Certifique-se de que todas as partes relevantes assinem o documento.</i></p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      {% if form %}
      <div class="col-4 d-flex flex-wrap">
      <form method="post" enctype="multipart/form-data">
        {% bootstrap_form form %}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary ms-auto">Enviar</button>
      </form>  
      </div>
      {% endif %}
      <div class="col">
        {% if url %}
        <iframe style="width: 100% !important; height: 750px;" src="{{url}}" frameborder="0"></iframe>
        {% else %}
        <p class="text-center">Nada anexado até o momento.</p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col py-5">
        <p>Lembramos que é fundamental que o TCE esteja devidamente preenchido e assinado para garantir a validade do estágio. Se surgirem dúvidas durante o processo, não hesite em entrar em contato conosco. Estamos aqui para ajudar a tornar sua experiência de estágio a melhor possível!</p>
      </div>
    </div>
    <script>
      document.getElementById('s-estudante').classList.add('s-nav-active');
    </script>
{% endblock %}
{% block footer %}
{% include 'desenvolve_nf/instagram.html' %}
{% endblock %}