{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_estagio.html' %}
{% endblock %}
{% block css %} {% endblock %}
{% block main %}

    <div class="d-flex flex-wrap">        
      <h2 id="go">Área da Instituição</h2>
      <div id="cabecalho" class="ms-auto input-group" style="max-width: 300px ;">          
        <input style="border-radius: 30px !important; padding-right: 35px;" type="search" name="search" id="search"
            class="form-control mb-auto">
        <i class="fa-solid fa-magnifying-glass"
            style="position: absolute; right: 0; margin: 10px 10px auto auto;"></i>
      </div>
    </div>
    <div class="row ">
      <div class="col pt-3 pb-4">
       <div class="table-responsive pt-4 border" style="background-color: white; border-radius: 30px; padding: 20px;">
        {% if estudante %}
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>Universidade</th>
              <th>Contato</th>
              <th>Outras informações</th>
              <th>Vencimento do termo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="">
                <strong><i>{{estudante.universidade}}</i></strong>
              </td>     
              <td></td>     
              <td></td>
              <td class="">
                <strong>{{estudante.dt_vencimento_do_termo}}</strong>
              </td>          
            </tr>
            <!-- <tr>
              <td>
                {{estudante.}}
              </td>
            </tr> -->
          </tbody>
        </table>
        {% else %}
        <p class="text-center py-5"><i class="text-secondary">Você não se candidatou a nenhuma vaga ainda.</i></p>
        {% endif %}
       </div>
        <!-- <p class="text-secondary"><i>Conheça as vagas de nível tecnico esuperior ofertados pela Prefeitura de Nova Friburgo e suas respectivas instituições!</i></p> -->
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>Acompanhamento de vagas</h3>       
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="pt-4 border table-responsive" style="background-color: white; border-radius: 30px; padding: 20px;">
          {% if estudante_vagas %}
          <table class="table table-borderless">
            <thead>
                <tr>
                  <th>Estudante</th>
                  
                    <th class="pe-5">Vaga de Estágio</th>                  
                    <th class="pe-5">Secretária</th>                  
                    <th class="pe-5">Local</th>  
                    
                    <th class="pe-5 text-center">Dt. de Solicitação</th>                      
                    <th>Processo</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for i in estudante_vagas %}
                <tr>
                  <td>
                    {{i.estudante}}   
                  </td>                 
                  <td class="pe-5">{{i.vaga.nome}}</td>                          
                 
                  <td class="pe-5">
                      {% if i.local_do_estagio.secretaria %}
                      {{i.local_do_estagio.secretaria}}
                      {% else %}
                      <i class="text-secondary">Não definido.</i>
                      {% endif %}
                  </td>                  
                  <td class="pe-5">
                        {% if i.local_do_estagio.local %}
                        {{i.local_do_estagio.local}}
                        {% else %}
                        <i class="text-secondary">Não definido.</i>
                        {% endif %}
                  </td>                                     
                  <td class="pe-5 text-center">{{i.estudante.data_inclusao|date:"d/m/y"}}</td>                                    
                  <td>
                    <a href="{% url 'estagio:processo_da_vaga' i.id %}">Visualizar</a>
                  </td> 
                  <td>
                    {{i.get_status_display}}   
                  </td>
                </tr>
                {% endfor %}                
            </tbody>
        </table>
        {% else %}
        <p class="text-center py-5"><i class="text-secondary">Você não se candidatou a nenhuma vaga ainda.</i></p>
        {% endif %}
        </div>
      </div>
    </div>
    <script>
      document.getElementById('s-universidade').classList.add('s-nav-active');
    </script>
{% endblock %}
{% block footer %}
{% include 'instagram_desenvolve.html' %}
{% endblock %}