{% extends 'template.html' %}
{% load bootstrap5 %}
{% load static %}
{% block nav %}
{% include 'nav_estagio.html' %}
{% endblock %}
{% block css %} {% endblock %}
{% block main %}
        <div class="row">
            <div class="col">
                {{vaga.nome}}
            </div>
        </div>
       <form method="POST">
        {% if forms_vaga.errors.vaga %}
        <div class="text-white bg-danger text-center rounded py-3">
            {{forms_vaga.vaga.errors}}
            <!-- O seu curso não corresponde com o da vaga! Tente outro. -->
        </div>
        {% endif %}
        {% csrf_token %}
        <div class="row">
            <div class="col">
                {% bootstrap_form forms_estudante %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{forms_vaga}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit">
                    Enviar
                </button>
            </div>
        </div>
       </form>
<style>
    li{
        list-style: none;
    }
    .nonfield{
        display: none;
    }
</style>
{% endblock %}
{% block footer %}
{% include 'instagram_desenvolve.html' %}
{% endblock %}