{% extends 'template.html' %}
{% load bootstrap5 %}
{% load static %}
{% block nav %}
{% include 'nav_estagio.html' %}
{% endblock %}
{% block css %} {% endblock %}
{% block main %}
        <div class="row">
            <div class="col d-flex">
                <a href="{% url 'estagio:listar_vagas' %}" class="ms-auto btn btn-primary"><i class="fa-solid fa-backward-step me-2"></i>Voltar</a> 
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form forms %}
                    <div class="row">
                        <div class="col">
                            <button type="submit">
                                Enviar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}
{% block footer %}
{% include 'instagram_desenvolve.html' %}
{% endblock %}