{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_estagio.html' %}
{% endblock %}
{% block css %} {% endblock %}
{% block main %}
    <div class="row mx-auto pb-5">
    {% include 'slide_estagio.html' %}
  </div>
    <div class="row border bg-white " style="border-radius: 30px;  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);">
        <div class="col py-4">
            <div class="row">
                <div class="col ps-5 pe-5 d-flex flex-column" style="border-top-left-radius: 30px; border-bottom-left-radius: 30px; ">        
                        <p class="mb-3">A Secretaria Municipal de Ciência, Tecnologia, Inovação e Educação Profissionalizante e Superior, é responsável pelo gerenciamento dos estágios no âmbito da administração pública municipal compreendendo o cadastramento de alunos, acompanhamento da oferta de vagas de estágio, supervisão, acompanhamento dos estágios e a distribuição dos estagiários através do <strong>Programa de Desenvolvimento de Estágio de Estudantes – PDEE</strong>.</p>                       
                        <p class="mt-2 text-justify" style="text-indent: 40px;">A candidatura à vaga de estágio obrigatório, estágio previsto na grade curricular, é realizada por meio do preenchimento do formulário “Carta de Apresentação”. Este formulário somente poderá ser preenchido por um responsável da Instituição de Ensino que possuir convênio com o Município de Nova Friburgo. O seu preenchimento não garante a vaga, mas se faz parte indispensável para que o PDEE verifique a disponibilidade da mesma.</p>                               
                </div>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="row bg-white  border mt-5" style="border-radius: 30px;  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);">
            <div class="col pt-3 d-flex flex-column">
                <p class="text-center mt-5"><b>Gerência do Programa de Desenvolvimentos de Estágios de Estudantes</b></p>
                <div class="mt-2 mb-5 d-flex flex-column text-center">
                    <span>gerenciaestagio@sme.novafriburgo.rj.gov.br</span>
                    <span>(22) 2525-9231</span>
                </div>
                        </div>
            
        </div>
    </div>
    <style>
        .bg-white p{
            text-indent: 40px;
            text-align: justify;
        }
    </style>
     <script>
        document.getElementById('s-index').classList.add('s-nav-active');
      </script>
{% endblock %}
{% block footer %}
{% include 'desenvolve_nf/instagram.html' %}
{% endblock %}