{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_estagio.html' %}
{% endblock %}
{% block css %} {% endblock %}
{% block main %}

    <div class="d-flex flex-wrap">        
      <h2 id="go">Área do Estudante - Processo nº {{processo.n_processo}}</h2> 
      <a class="btn btn-secondary ms-auto my-auto" href="{% url 'estagio:area_do_estudante' %}">Voltar</a>             
    </div>
    <div class="row ">
      <div class="col pt-3 pb-4">
       <div class="table-responsive pt-4 border" style="background-color: white; border-radius: 30px; padding: 20px;">             
        <table class="table table-borderless ">
          <thead>
            <tr>
              <th>Status</th>
              <th>Mensagem</th>
            </tr>
          </thead>
          <tbody>
          {% for h in historico %}          
          <tr class="border-top">
            {% if forloop.first %}
            <td style="background-color: rgba(255, 210, 127, 0.356);"><i><strong>{{h.get_status_display}}</strong></i></td>
            <td {% if h.status == '3' %}class="d-flex"{% endif %} style="background-color: rgba(255, 210, 127, 0.356);">
              <i><strong>{{h.mensagem}}</strong></i>
                {% if h.status == '3' %}
              <a href="{% url 'estagio:anexar_tce' id %}" class="ms-auto py-1 btn btn-success">
                Anexar TCE
              </a>
              {% endif %}</td>
            {% else %}
            <td>{{h.get_status_display}}</td>
            <td class="d-flex">
              <i>{{h.mensagem}}</i>
              {% if h.status == '3' %}
              <a href="{% url 'estagio:visualizar_tce' id %}" class="ms-auto py-1 btn btn-secondary">
                Visualizar TCE
              </a>
              {% endif %}
            </td>
            {% endif %}              
          </tr>             
          {% endfor %}
          </tbody>
        </table>
       </div>
      </div>
    </div>

    
    <script>
      document.getElementById('s-estudante').classList.add('s-nav-active');
    </script>
{% endblock %}
{% block footer %}
{% include 'desenvolve_nf/instagram.html' %}
{% endblock %}