{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_estagio.html' %}
{% endblock %}
{% block css %} {% endblock %}
{% block main %}    
    <div class="row">
      <div class="col d-flex">       
          <div class="m-auto py-0 w-100">           
            <div class="cursos-text mx-2 d-flex w-100">
              <h2 class="my-auto">Secretarias - Locais de Estágio</h2>              
              <a href="{% url 'estagio:cadastrar_local' id %}" class="ms-auto  mt-2  btn btn-primary mb-2"><i class="fa-solid fa-clipboard me-2"></i>Cadastrar local</a>              
              <a href="{% url 'estagio:listar_secretaria' %}" class="ms-1 mt-2 me-3 btn btn-primary mb-2"><i class="fa-solid fa-backward-step me-2"></i>Voltar</a>              
            </div>            
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col px-4">
        <h3><i class="fa-solid fa-caret-right"></i> {{secretaria.nome}}</h3>              
      </div>
    </div>
    <div class="row">
      <div class="col d-flex pt-5 flex-wrap">
        {% for local in  locais %}
          <div class="item mx-auto mb-4 border">            
            <div class="cursos-text mx-2 d-flex pb-0 flex-column">
                <h4 class="">{{local.local}}</h4>
            </div>
            <div class="cursos-text mx-2 d-flex pt-2 flex-column">
              <a class="mb-3 text-center" href="{% url 'estagio:listar_detalhes_do_local' id local.id %}">Ver cursos estagiarios</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

{% endblock %}
{% block footer %}
{% include 'desenvolve_nf/instagram.html' %}
{% endblock %}