{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_estagio.html' %}
{% endblock %}
{% block css %} {% endblock %}
{% block main %}    
    <div class="row">
      <div class="col d-flex">       
          <div class="m-auto py-0 w-100">           
            <div class="cursos-text mx-2 d-flex w-100">
              <h2 class="my-auto">Locais de Estágio - {{local.secretaria.nome}}</h2>              
              <a href="{% url 'estagio:listar_detalhes_do_local_add_ou_rmv' id local.id %}" class="ms-auto  mt-2  btn btn-primary mb-2"><i class="me-1 fa-solid fa-plus-minus"></i> Cursos</a>              
              <a href="{% url 'estagio:listar_secretaria_locais' id %}" class="ms-1 mt-2 me-3 btn btn-primary mb-2"><i class="fa-solid fa-backward-step me-2"></i>Voltar</a>              
            </div>            
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col px-4">
        <h3><h3><i class="fa-solid fa-caret-right"></i> {{local.secretaria.nome}} - {{local.local}}</h3>

      </div>
    </div>
    <div class="row">
      <div class="col d-flex pt-5 flex-wrap">
        {% for curso in  local.cursos.all %}
          <div class="item mx-auto mb-4 border">            
            <div class="cursos-text mx-2 d-flex py-3 flex-column text-center">
                <h5 class="">{{curso.nome}}</h5>
            </div>
            <div class="cursos-text mx-2 d-flex pt-2">
              <a href="#" onclick="listar('{{curso.id}}')" class="mb-3 text-center mx-auto"><i class="fa-solid fa-list me-1"></i>Listar estagiarios</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
<script>
  function listar(id){
    alert('Não há estagiario neste local.');
  }
</script>
{% endblock %}
{% block footer %}
{% include 'desenvolve_nf/instagram.html' %}
{% endblock %}