<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secretaria</title>
</head>
<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <button id="estagiario">Estagiário</button>
        </nav>
    </header>


    <main>

        <h1>{{titulo}}</h1>


        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th>Nome do Aluno</th>
                        <th>Vaga de Estágio</th>
                        <th>Supervisor</th>
                        <th>Data de Solicitação</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>João da Silva</td>
                        <td>Desenvolvedor Web</td>
                        <td>Maria Santos</td>
                        <td>01/05/2023</td>
                        <td>Em Analise</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </main>

</body>
</html>