{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_estagio.html' %}
{% endblock %}
{% block css %} {% endblock %}
{% block main %}    
    <div class="row">
      <div class="col d-flex">       
          <div class="m-auto py-0 w-100">           
            <div class="cursos-text mx-2 d-flex w-100">
              <h2 class="my-auto">Locais de Estágio - {{local.secretaria.nome}}</h2>              
              <a href="{% url 'estagio:listar_detalhes_do_local' id local.id %}" class="ms-auto mt-2 me-3 btn btn-primary mb-2"><i class="fa-solid fa-backward-step me-2"></i>Voltar</a>              
            </div>            
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col px-4">
        <h3><h3><i class="fa-solid fa-caret-right"></i> {{local.secretaria.nome}} - {{local.local}}</h3>

      </div>
    </div>
    <div class="row">
      <div class="col d-flex flex-column pt-5 flex-wrap">
       <form method="POST">
        {% csrf_token %}
        {{form}}
        <button class="btn btn-primary mt-3" type="submit">
          Alterar
        </button>
       </form>
      </div>
    </div>

{% endblock %}
{% block footer %}
{% include 'desenvolve_nf/instagram.html' %}
{% endblock %}