{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_estagio.html' %}
{% endblock %}
{% block css %} {% endblock %}
{% block main %}
<div class="row">
  <div class="col d-flex">       
      <div class="m-auto py-0 w-100">           
        <div class="cursos-text mx-2 d-flex w-100">
          <h2 class="my-auto">Supervisores</h2>                        
          <a href="{% url 'estagio:cadastrar_supervisor' %}" class="ms-auto mt-2 btn btn-primary mb-2"><i class="fa-solid fa-clipboard me-2"></i>Cadastrar Supervisor</a>
          <a href="{% url 'estagio:adm' %}" class="ms-1 mt-2 me-3 btn btn-primary mb-2"><i class="fa-solid fa-backward-step me-2"></i>Voltar</a>              
        </div>            
    </div>
  </div>
</div>


    <div class="row">
      <div class="col d-flex flex-wrap">
        {% for supervisor in  supervisores %}
          <div class="item border mx-auto">
            <div class="cursos-text mx-2 d-flex">
              <h5 class="">{{supervisor.nome}}</h5>
              <a href="{% url 'estagio:editar_supervisor' supervisor.id %}" class="ms-auto my-auto"><i class="ms-auto my-auto fa-solid fa-pen-to-square"></i></a>
            </div><div class="cursos-text pt-0 pb-3 mx-2 d-flex">
              <i>{{supervisor.secretaria}}</i>
            </div>
            <div class="cursos-text pt-0 pb-3 mx-2 d-flex">
              <i class="text-secondary">Demais informações</i>
            </div>
        </div>
        {% endfor %}
      </div>
    </div>

{% endblock %}
{% block footer %}
{% include 'desenvolve_nf/instagram.html' %}
{% endblock %}