{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_estagio.html' %}
{% endblock %}
{% block css %} {% endblock %}
{% block main %}
    <div class="row">
      <div class="col d-flex">
        <h2 class="my-auto">Instituições</h2>                                
        <a href="{% url 'estagio:cadastrar_universidade' %}" class="btn btn-primary ms-auto my-auto"><i class="fa-solid fa-school me-2"></i>Cadastrar Universidade</a>
        <a href="{% url 'estagio:adm' %}" class="btn btn-primary my-auto ms-1">
          <i class="fa-solid fa-backward-step me-2"></i>
          Voltar
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex flex-wrap">
        {% for universidade in  universidades %}
          <div class="item mx-auto mb-4 border">
            <div class="c-img pt-4 px-4" style="position: relative;">
              <img class="img-fluid" style="border-radius: 10px;" src="{% if instituicao.logo %}{{instituicao.logo.url}}{% else %}{% static 'images/sem-imagem.png' %}{% endif %}" alt="">
            </div>
            <div class="cursos-text mx-2 d-flex flex-column">
              <strong class="text-secondary mx-auto">{{universidade.nome}}</strong>
              <a href="{% url 'estagio:curso' universidade.id %}" class="my-3 mx-auto">Ver/editar</a>
              <p class="text-secondary" style="font-size: 7pt; text-align: right;">Vencimento: {% if instituicao.dt_vencimento_do_termo %}{{instituicao.dt_vencimento_do_termo|date:"d/m/y"}}{% else %}Não cadastrado{% endif %}</p>
            </div>
        </div>
        {% endfor %}
      </div>
    </div>

{% endblock %}
{% block footer %}
{% include 'instagram_desenvolve.html' %}
{% endblock %}