{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_estagio.html' %}
{% endblock %}
{% block css %} {% endblock %}
{% block main %}
        <div class="row">
            <div class="col">
                {% for vaga in vagas %}
                    <h3 class="titulo_vaga">{{vaga.nome}}</h3>
                    <p class="local_estagio">{{vaga.vagas_id_secretaria}}</p>
                <button class="btn_detalhes">
                    <a href="#">Ver Mais</a>
                </button>
                {% endfor %}
            </div>
        </div>

{% endblock %}
{% block footer %}
{% include 'instagram_desenvolve.html' %}
{% endblock %}