<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vagas</title>
</head>
<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <button id="estagiario">Estagiário</button>
        </nav>
    </header>

    <main>

        <h1>{{titulo}}</h1>

        <div class="row">
            <div class="col">
                <h3 class="titulo_vaga">Manutenção</h3>
                <p class="local_estagio">Local: Prefeitura municipal</p>
                <button class="btn_detalhes">
                    <a href="#">Ver Mais</a>
                </button>
            </div>
            <div class="col">
                <h3 class="titulo_vaga">Eletricista</h3>
                <p class="local_estagio">Local: Prefeitura municipal</p>
                <button class="btn_detalhes">
                    <a href="#">Ver Mais</a>
                </button>
            </div>
            <div class="col">
                <h3 class="titulo_vaga">Administração</h3>
                <p class="local_estagio">Local: Prefeitura municipal</p>
                <button class="btn_detalhes">
                    <a href="#">Ver Mais</a>
                </button>
            </div>
            <div class="col">
                <h3 class="titulo_vaga">Ensino Médio</h3>
                <p class="local_estagio">Local: Instituto de Ensino de Nova Friburgo</p>
                <button class="btn_detalhes">
                    <a href="#">Ver Mais</a>
                </button>
            </div>
            <div class="col">
                <h3 class="titulo_vaga">Enfermagem</h3>
                <p class="local_estagio">Local: Hospital Raul Sertã</p>
                <button class="btn_detalhes">
                    <a href="#">Ver Mais</a>
                </button>
            </div>
        </div>
    </main>



    
</body>
</html>