<!DOCTYPE html>
<html lang="pt-br">
<head>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desenvolve NF - Cadastro de Pessoa </title>
    {% load static %}    
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    {% load bootstrap5 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- FONTAWESOME -->
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{% static '/css/template.css' %}">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">    
</head>
<body class="container-fluid">
<div class="row">
    <div id="bannerLogin" class="col">
        <div class="filter">
            <img class="m-auto img-fluid" src="{% static '/images/brasao.png' %}" alt="brasão de nova friburgo">
        </div>
    </div>    
    <div class="col-4 d-flex pb-5" style="overflow-y: scroll; max-height: 100vh;">
        <div class="m-auto">
            <a href="/">
                <img style="max-width: 300px;" class="img-fluid mb-3" src="{% static 'images/logo_desenvolvenf_white.png' %}" alt="">                
            </a>
            <h2 class="text-center">NOVO CADASTRO</h2>
            {% if messages %}
        <div class="messages my-4">
            {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }} p-2 text-center"{% endif %}>{{ message|safe }}</div>
            {% endfor %}
        </div>
        {% endif %} 
            <form class="pt-3" method="POST">
                {% csrf_token %}
                {% bootstrap_form form_pessoa %} 

                {% if error_senha.0 %}     
                <p class="bg-danger text-white text-center py-2 mt-4 text-wrap" style="font-size: 11pt;">
                   {{error_senha.1}}
                </p>          
                {% endif %}
                
                {% if not is_user %}
                <div class="mb-3">
                    <label class="mb-2 {% if error_senha.0 %}text-danger{% endif %}" for="senha">
                        Senha:
                    </label>
                    <input required class="form-control" type="password" name="password" id="senha">
                </div>
                <div class="mb-3">
                    <label class="mb-2 {% if error_senha.0 %}text-danger{% endif %}" for="senha2">
                        Repita a senha:
                    </label>
                    <input required class="form-control" type="password" name="password2" id="senha2">
                </div>
                {% endif %}

                <button type="submit" class="btn btn-primary w-100 mb-3">CADASTRAR-SE</button>
                
                <a href="/login">
                    <small>
                        Login
                    </small>
                </a>        
            </form>
        </div>
    </div>
</div>
<style>    
    .error{
        background-color: red;
        color: white;
    }
</style>
<script>
    function icpf(v){
                v=v.replace(/\D/g,"")                    //Remove tudo o que nao e digito
                v=v.replace(/(\d{3})(\d)/,"$1.$2")       //Coloca um ponto entre o terceiro e o quarto digitos
                v=v.replace(/(\d{3})(\d)/,"$1.$2")       //Coloca um ponto entre o terceiro e o quarto digitos
                                                        //de novo (para o segundo bloco de numeros)
                v=v.replace(/(\d{3})(\d{1,2})$/,"$1-$2") //Coloca um hifen entre o terceiro e o quarto digitos
                return v
            }
    function itel(v){
                        v=v.replace(/\D/g,"")                 //Remove tudo o que nao e digito
                        v=v.replace(/^(\d\d)(\d)/g,"($1) $2") //Coloca parenteses em volta dos dois primeiros digitos
                        console.log(v.length)
                        if (v.length<14){
                          v=v.replace(/(\d{4})(\d)/,"$1-$2")    //Coloca hifen entre o quarto e o quinto digitos
                        }else{
                          v=v.replace(/(\d{4,5})(\d)/,"$1-$2")    //Coloca hifen entre o quarto e o quinto digitos
                        }
                        
                        return v
            }
    function icep(input) {
            input.value = input.value.replace(/\D/g, '');

            // Verifica se o valor tem pelo menos 5 dígitos
            if (input.value.length > 5) {
            // Insere o traço após o quinto dígito
            input.value = input.value.substring(0, 5) + '-' + input.value.substring(5);
            }
            }
    function mascara(o,f){
                v_obj=o
                v_fun=f
                setTimeout("execmascara()",1)
            }
        
    function execmascara(){
                v_obj.value=v_fun(v_obj.value)
            }

    const cp_bairro = document.getElementById('id_bairro')
    const cp_endereco = document.getElementById('id_endereco')

    function getCEP(input){
            icep(input)
            v=input.value
            if(v.length == 9){
                let cep = v.replace("-","")
                buscaEndereco(cep);

            }
            }
    function buscaEndereco(cep){
            let url = "https://viacep.com.br/ws/"+cep+"/json/";
            fetch(url)
            .then((response)=>{
                response.json()
                .then((data)=>{
                    autoComplete(data)
                })
            })
            }
    function removeAccents(string) {
            return string.replace(/[ÀÁÂÃÄÅàáâã]/g, "?")
                .replace(/[ÈÉÊËÈèé]/g, "?")
                .replace(/[ÌÍÎÏìíî]/g, "?")
                .replace(/[ÒÓÔÕÖóòõ]/g, "?")
                .replace(/[ÙÚÛÜùúû]/g, "?")
                .replace(/[Çç]/g, "?")
            }
    async function autoComplete(end){
        if (end.logradouro != undefined){
            cp_endereco.value = end.logradouro;
        }
        if (end.bairro != undefined){
            cp_bairro.value = end.bairro;
            console.log(end)
        }
        }
    
    
    function checkCPF(cpf){
            const csrfTokenInput = document.querySelector("input[name='csrfmiddlewaretoken']");
            const csrfToken = csrfTokenInput.value;
            let url = "/cadastro/checkcpf/";
            fetch(url,{
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ cpf: cpf })
            })
            .then((response)=>{
                response.json()
                .then((data)=>{
                    const cpfInput = document.getElementById("id_cpf");
                    let smallError = cpfInput.nextElementSibling; // Verifique se já existe um elemento irmão

                    if (data.exists) {
                        if (!smallError || smallError.tagName !== "SMALL") {
                            smallError = document.createElement("small");
                            smallError.classList.add("text-danger");
                            cpfInput.parentNode.insertBefore(smallError, cpfInput.nextSibling);
                        }
                        smallError.textContent = data.message;
                    } else {
                        // Se exists for false, remova a mensagem de erro existente
                        if (smallError && smallError.tagName === "SMALL") {
                            smallError.remove();
                        }
                    }
                })
            })
            }
    
</script>