.owl-carousel{
    margin-top: 30px;
}
.owl-carousel .item{
    width: 100%;    
}
.owl-carousel .owl-item{
    opacity: 40%;
}
.owl-carousel .cloned{
    opacity: 40%;
}
.owl-carousel .active{
    opacity: 40%;
}
.owl-carousel .center img{
    opacity: 100%;
}
.owl-item{
    width: 97vw;
}
.owl-carousel .item img{
    border-radius: 30px;
    width: 97vw;
    height: 395px;
}
.owl-carousel .center{
    opacity: 200% !important;
}