#clima-tempo{
    display: flex;
    flex-direction: row;
}

#atual{
    font-size: 480%;
}

#temperatura h2{
    margin:0;
}


.sol p:first-child::before{
    content: url(../images/clima_icons/sunrise.png) " ";
}

.sol p:last-child::before{
    content: url(../images/clima_icons/sunset.png) " ";
}

.text-justify{
    text-indent: 40px;
}

#perguntas{
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px;
    padding: 0 20px 20px 20px;
    margin: auto;
}

.pergunta img{
    width: 10%;
    height: 10%;
    margin-top: auto;
    margin-bottom: auto;
}

.pergunta{
    width: 48%;
    border-radius: 30px;
    background-color: white;
    padding: 1%;
    margin: 1%;
    /* min-width: 150px; */
}

.aviso{
    border-radius: 30px;
    background-color: white;
    padding: 0 1% 1% 1%;
    margin: 1%;
}

.aviso img{
    width: 5%;
    height: 5%;
    padding: 1%;
}

.pergunta-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pergunta-header h5{
    padding: 2%;
}

.aviso .pergunta-header h5{
    padding: 2% 2% 0% 0;
}

h4{
    margin: 1% 0 0 3%;
}

.pergunta a{
    color: blue;
}

#cidade-img{
    padding-left: 0;
    max-width: 40%;
}

#cidade-banner{
    display: flex;
    flex-direction: row;
}