{% extends 'template.html' %}
{% load static %}
{% load empreendedor_filters %}
{% block nav %}
{% include 'nav_empreendedor.html' %}
{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}
{% block main %}
<div class="container">
  <div class="row mx-auto bg-destaque ps-4 pb-2 pt-1">
    <div class="row ">
      <div class="col">
        <h1>Serviços Internos</h1>
        <!-- <p class="text-secondary mt-2" style="text-align: justify; text-indent: 40px;">
          <i>
            O Conselho de Contribuintes é um órgão colegiado, vinculado à Secretaria Municipal de Finanças, que tem por finalidade julgar em segunda instância administrativa os recursos voluntários interpostos pelos contribuintes contra decisões proferidas em primeira instância administrativa, no âmbito da Secretaria Municipal de Finanças.
          </i>
        </p> -->
        <div class="row">
          <div class="col mt-3 mb-4 p-2 border d-flex" style="background-color: white; border-radius: 30px;">
            <button id="reunioes_btn" onclick="changeDiv('reunioes')" class="ms-3 btn btn-link"><i class="fa-solid fa-circle-dot me-2"></i>Contribuintes</button>
            <button id="pautas_btn" onclick="changeDiv('pautas')" class="ms-3 btn btn-link"><i class="fa-solid fa-circle-dot me-2"></i>Processos/requerimentos</button>
            <button id="sumulas_btn" onclick="changeDiv('sumulas')" class="ms-4 btn btn-link"><i class="fa-solid fa-circle me-2"></i>Inscrições</button>
            {% csrf_token %}
          </div>
        </div>
        <div class="row border mb-4" id="reunioes" style="border-radius: 30px; background-color: white; padding: 40px 40px;">
          <div class="col">
            <div class="row">
                <div class="col d-flex">
                    <h2>Contribuintes</h2>
                    <a href="{% url 'financas_recadastramento:export_to_excel' %}" class="ms-auto mb-auto btn btn-outline-dark">
                    <i class="fa-solid fa-magnifying-glass"></i> Localizar
                    </a>
                </div>
            </div>            
            <form id="recadastramentoForm">                
            <div class="row">
                <div class="col pt-4">
                    <strong>Dados do contribuinte</strong>
                </div>
            </div>
            <div class="row">                
                <div class="col-4 mt-3"><label class="fw-bold text-uppercase" for="id_cpf">Cpf do contribuinte:</label></th><td><input type="text" name="cpf" class="form-control" onkeyup="mascara(this, icpf)" onblur="checkCPF(this.value, '')" maxlength="14" id="id_cpf"></div>    
                <div class="col-4 mt-3"><label class="fw-bold text-uppercase" for="id_nome_do_contribuinte">Nome do contribuinte:</label></th><td><input type="text" name="nome_do_contribuinte" class="form-control text-capitalize" maxlength="150" required id="id_nome_do_contribuinte"></div>
                <div class="col-4 mt-3"><label class="fw-bold text-uppercase" for="id_cnpj">Cnpj do contribuinte</label></th><td><input type="text" name="cnpj" class="form-control" maxlength="14" id="id_cnpj"></div>
                <div class="col-4 mt-3"><label class="fw-bold text-uppercase" for="id_celular">Celular:</label></th><td><input type="text" name="celular" class="form-control" maxlength="15" id="id_celular"></div>
                <div class="col-4 mt-3"><label class="fw-bold text-uppercase" for="id_cep">Cep:</label></th><td><input type="text" name="cep" class="form-control" maxlength="9" id="id_cep" onkeydown="icep(this)" onblur="getCEP(this)"></div>
                <div class="col-4 mt-3"><label class="fw-bold text-uppercase" for="id_rua">Rua:</label></th><td><input type="text" name="rua" class="form-control text-capitalize" maxlength="150" id="id_rua"></div>
                <div class="col-4 mt-3"><label class="fw-bold text-uppercase" for="id_numero">Número:</label></th><td><input type="text" name="numero" class="form-control" maxlength="10" id="id_numero"></div>
                <div class="col-4 mt-3"><label class="fw-bold text-uppercase" for="id_complemento">Complemento:</label></th><td><input type="text" name="complemento" class="form-control" maxlength="50" id="id_complemento"></div>
                <div class="col-4 mt-3"><label class="fw-bold text-uppercase" for="id_bairro">Bairro:</label></th><td><input type="text" name="bairro" class="form-control text-capitalize" maxlength="50" id="id_bairro"></div>
                <div class="col-4 mt-3"><label class="fw-bold text-uppercase" for="id_cidade">Cidade:</label></th><td><input type="text" name="cidade" class="form-control text-capitalize" maxlength="50" id="id_cidade"></div>
                <div class="col-4 mt-3"><label class="fw-bold text-uppercase" for="id_estado">UF:</label></th><td><input type="text" name="estado" class="form-control text-capitalize" maxlength="2" id="id_estado"></div>
                <div class="col-4 mt-3"><label class="fw-bold text-uppercase" for="id_email">Email:</label></th><td><input type="email" name="email" class="form-control" maxlength="254" id="id_email"></div>                                                    
            </div> 
            <div class="row">
                <div class="col pt-4">
                    <hr>
                    <strong>Dados do responsável tributário</strong>
                </div>
            </div>
            <div class="row">
            <div class="col">
                
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" value="" id="responsavelCheckbox" onclick="copyContribuinteData()">
                <label class="form-check-label" for="responsavelCheckbox">
                O responsável é o próprio contribuinte?
                </label>
            </div>
            <script>
                function copyContribuinteData() {
                const checkbox = document.getElementById('responsavelCheckbox');
                if (checkbox.checked) {
                    document.getElementById('id_cpf_responsavel').value = document.getElementById('id_cpf').value;
                    document.getElementById('id_responsavel_tributario').value = document.getElementById('id_nome_do_contribuinte').value;
                    document.getElementById('id_email_responsavel').value = document.getElementById('id_email').value;
                    document.getElementById('id_telefone_responsavel').value = document.getElementById('id_celular').value;
                } else {
                    document.getElementById('id_cpf_responsavel').value = '';
                    document.getElementById('id_responsavel_tributario').value = '';
                    document.getElementById('id_email_responsavel').value = '';
                    document.getElementById('id_telefone_responsavel').value = '';
                }
                }
            </script>
            </div>
            </div>
        <div class="row">                                
            <div class="col-4 mt-3"><label class="fw-bold text-uppercase" for="id_cpf_responsavel">Cpf do responsável tributário:</label></th><td><input type="text" name="cpf_responsavel" class="form-control" onkeyup="mascara(this, icpf)" maxlength="14" id="id_cpf_responsavel"></div>
            <div class="col-4 mt-3"><label class="fw-bold text-uppercase" for="id_responsavel_tributario">Nome do responsável tributário:</label></th><td><input type="text" name="responsavel_tributario" class="form-control" maxlength="150" required id="id_responsavel_tributario"></div>
            <div class="col-4 mt-3"><label class="fw-bold text-uppercase" for="id_email_responsavel">Email do responsável:</label></th><td><input type="email" name="email_responsavel" class="form-control" maxlength="254" id="id_email_responsavel"></div>                                                    
            <div class="col-4 mt-3"><label class="fw-bold text-uppercase" for="id_telefone_responsavel">Celular do responsável:</label></th><td><input type="text" name="telefone_responsavel" class="form-control" maxlength="15" id="id_telefone_responsavel"></div>
        </div>
        <div class="row">
            <div class="col pt-4">
            <hr>
            <strong>Dados do procurador</strong>
            </div>
        </div>
        <div class="row">                                
            <div class="col-4 mt-3"><label class="fw-bold text-uppercase" for="id_cpf_procurador">Cpf do procurador:</label></th><td><input type="text" name="cpf_procurador" class="form-control" onkeyup="mascara(this, icpf)" maxlength="14" id="id_cpf_procurador"></div>
            <div class="col-4 mt-3"><label class="fw-bold text-uppercase" for="id_nome_procurador">Nome do procurador:</label></th><td><input type="text" name="nome_procurador" class="form-control" maxlength="150" required id="id_nome_procurador"></div>
            <div class="col-4 mt-3"><label class="fw-bold text-uppercase" for="id_email_procurador">Email do procurador:</label></th><td><input type="email" name="email_procurador" class="form-control" maxlength="254" id="id_email_procurador"></div>
            <div class="col-4 mt-3"><label class="fw-bold text-uppercase" for="id_telefone_procurador">Celular do procurador:</label></th><td><input type="text" name="telefone_procurador" class="form-control" maxlength="15" id="id_celular_procurador"></div>
        </div>         
            </form>
            <button class="btn btn-outline-primary mt-4" onclick="cadastrarPessoa(this)">
            Enviar
            </button>
          
          </div>
        </div>
        <!-- INICIO -->
        <div class="row border mb-4" id="pautas" style="border-radius: 30px; background-color: white; padding: 40px 40px;">
          <div class="col">            
            <div class="row">
                <div class="col d-flex">
                    <h2>Processos/Requerimentos</h2>
                    <button class="ms-auto mb-auto btn btn-outline-dark">
                        <i class="fa-solid fa-magnifying-glass"></i> Localizar
                    </button>
                </div>
            </div>
            <form id="processoForm">
            <div class="row">
                <div class="col-3 mt-3"><label class="fw-bold text-uppercase" for="id_cpf">Cpf:</label></th><td><input type="text" name="cpf_processo" class="form-control" onkeyup="mascara(this, icpf)"  onblur="checkCPF_Processo(this.value)" maxlength="14" id="id_cpf_processo"></div>
                <!-- <div class="col-3 mt-3"><label class="fw-bold text-uppercase" for="id_requerente">Requerente:</label></th><td><input type="text" name="requerente" class="form-control" maxlength="150" required id="id_requerente"></div> -->
                <div class="col-3 mt-3"><label class="fw-bold text-uppercase" for="id_requerimento">Requerimento:</label></th><td><input type="text" name="requerimento" class="form-control" maxlength="20" required id="id_requerimento"></div>
                <div class="col-3 mt-3"><label class="fw-bold text-uppercase" for="id_ano">Ano:</label></th><td><input type="number" name="ano" class="form-control" required id="id_ano"></div>
                <div class="col-3 mt-3"><label class="fw-bold text-uppercase" for="id_localizacao">Localização:</label></th><td><input type="text" name="localizacao" class="form-control" maxlength="100" required id="id_localizacao"></div>
            </div>
            </form>
            <button class="btn btn-outline-primary mt-3" onclick="cadastrarProcesso(this)">
                Enviar
            </button>
          </div>
        </div>
        <!-- FIM -->
        <!-- INICIO -->
        <div class="row border mb-4" id="sumulas" style="border-radius: 30px; background-color: white; padding: 40px 40px;">
          <div class="col">
            
            <div class="row">
                <div class="col d-flex">
                    <h2>Incrições</h2>
                    <button class="ms-auto btn btn-outline-dark mb-auto">
                        <i class="fa-solid fa-magnifying-glass"></i> Localizar
                    </button>
                </div>
            </div>
            <form id="inscricaoForm">            
            <div class="row">
                <div class="col-3 mt-3"><label class="fw-bold text-uppercase" for="id_cpf">Cpf:</label></th><td><input type="text" name="cpf_inscricao" class="form-control" onkeyup="mascara(this, icpf)"  onblur="checkCPF_Inscricao(this.value)" maxlength="14" id="id_cpf_inscricao"></div>
                <div class="col-3 mt-3"><label class="fw-bold text-uppercase" for="id_numero">Número:</label></th><td><input type="text" name="numero_inscricao" class="form-control" maxlength="20" required id="id_numero"></div>
            </div>
            </form>
            <button class="btn btn-outline-primary mt-3" onclick="cadastrarInscricao(this)">
                Enviar
            </button>
            </div>
          </div>
        </div>
        <!-- FIM -->
         
        
      </div>
    </div>
  </div>
</div>



<script>
  const divReunioes= document.getElementById('reunioes');
  const btnReunioes = document.getElementById('reunioes_btn');
  const divPautas = document.getElementById('pautas');
  const btnPautas = document.getElementById('pautas_btn');
  const divSumulas = document.getElementById('sumulas');
  const btnSumulas = document.getElementById('sumulas_btn');

  texto = {
    pautas: 'Processos/requerimentos',
    sumulas: 'Inscrições',
    reunioes: 'Contribuintes',
  }

  function changeDiv(id){    
    divReunioes.style.display = 'none';   
    btnReunioes.innerHTML = '<i class="fa-solid fa-circle me-2"></i>Contribuintes';
    divPautas.style.display = 'none';   
    btnPautas.innerHTML = '<i class="fa-solid fa-circle me-2"></i>Processos/requerimentos';
    divSumulas.style.display = 'none';
    btnSumulas.innerHTML = '<i class="fa-solid fa-circle me-2"></i>Inscrições';
    
    if (id != ''){
        console.log(id)
      divAtiva = document.getElementById(id)
      divAtiva.style.display = 'block';
      document.getElementById(id+'_btn').innerHTML = '<i class="fa-solid fa-circle-dot me-2"></i>'+texto[id];
    }
  }
  changeDiv('')
  
</script>
<style>
  .item{
  padding-top: 15px;    
}
.assunto{
  max-width: 800px;
  text-align: justify;
  margin: 20px auto;
  text-indent: 0px;
}
.btn-link{
  text-decoration: none;
}
.assunto{
  line-height: auto;
}
.row .col strong{
    text-transform: uppercase;
    color: rgb(133, 133, 133);
}
</style>

  <script>
    // document.getElementById('empreendedor_admin').classList.add('s-nav-active');

    function icpf(v){
                v=v.replace(/\D/g,"")                    //Remove tudo o que nao e digito
                v=v.replace(/(\d{3})(\d)/,"$1.$2")       //Coloca um ponto entre o terceiro e o quarto digitos
                v=v.replace(/(\d{3})(\d)/,"$1.$2")       //Coloca um ponto entre o terceiro e o quarto digitos
                                                        //de novo (para o segundo bloco de numeros)
                v=v.replace(/(\d{3})(\d{1,2})$/,"$1-$2") //Coloca um hifen entre o terceiro e o quarto digitos
                return v
            }
    function itel(v){
                        v=v.replace(/\D/g,"")                 //Remove tudo o que nao e digito
                        v=v.replace(/^(\d\d)(\d)/g,"($1) $2") //Coloca parenteses em volta dos dois primeiros digitos
                        console.log(v.length)
                        if (v.length<14){
                          v=v.replace(/(\d{4})(\d)/,"$1-$2")    //Coloca hifen entre o quarto e o quinto digitos
                        }else{
                          v=v.replace(/(\d{4,5})(\d)/,"$1-$2")    //Coloca hifen entre o quarto e o quinto digitos
                        }
                        
                        return v
            }
    function icep(input) {
            input.value = input.value.replace(/\D/g, '');

            // Verifica se o valor tem pelo menos 5 dígitos
            if (input.value.length > 5) {
            // Insere o traço após o quinto dígito
            input.value = input.value.substring(0, 5) + '-' + input.value.substring(5);
            }
            }
    function mascara(o,f){
                v_obj=o
                v_fun=f
                setTimeout("execmascara()",1)
            }
        
    function execmascara(){
                v_obj.value=v_fun(v_obj.value)
            }

    const cp_cpf = document.getElementById('id_cpf')
    const cp_responsavel_tributario= document.getElementById('id_responsavel_tributario')
    const cp_cnpj = document.getElementById('id_cnpj')
    const cp_nome_do_contribuinte = document.getElementById('id_nome_do_contribuinte')
    const cp_celular = document.getElementById('id_celular')
    const cp_cep = document.getElementById('id_cep')
    const cp_rua = document.getElementById('id_rua')
    const cp_numero = document.getElementById('id_numero')
    const cp_complemento = document.getElementById('id_complemento')
    const cp_bairro = document.getElementById('id_bairro')
    const cp_cidade = document.getElementById('id_cidade')
    const cp_estado = document.getElementById('id_estado')
    const cp_email = document.getElementById('id_email')

    const cp_cpf_responsavel = document.getElementById('id_cpf_responsavel')
    const cp_email_responsavel = document.getElementById('id_email_responsavel')
    const cp_celular_responsavel = document.getElementById('id_telefone_responsavel')

    const cp_cpf_procurador = document.getElementById('id_cpf_procurador')
    const cp_nome_procurador = document.getElementById('id_nome_procurador')
    const cp_email_procurador = document.getElementById('id_email_procurador')
    const cp_celular_procurador = document.getElementById('id_telefone_procurador')

    function getCEP(input){
            icep(input)
            v=input.value
            if(v.length == 9){
                let cep = v.replace("-","")
                buscaEndereco(cep);

            }
            }
    function buscaEndereco(cep){
            let url = "https://viacep.com.br/ws/"+cep+"/json/";
            fetch(url)
            .then((response)=>{
                response.json()
                .then((data)=>{
                    autoComplete(data)
                })
            })
            }
    function removeAccents(string) {
            return string.replace(/[ÀÁÂÃÄÅàáâã]/g, "?")
                .replace(/[ÈÉÊËÈèé]/g, "?")
                .replace(/[ÌÍÎÏìíî]/g, "?")
                .replace(/[ÒÓÔÕÖóòõ]/g, "?")
                .replace(/[ÙÚÛÜùúû]/g, "?")
                .replace(/[Çç]/g, "?")
            }
    async function autoComplete(end){
        console.log(end)
        if (end.logradouro != undefined){
            cp_rua.value = end.logradouro;
        }
        if (end.bairro != undefined){
            cp_bairro.value = end.bairro;
            console.log(end)
        }
        if (end.localidade != undefined){
            cp_cidade.value = end.localidade;
        }
        if (end.uf != undefined){
            cp_estado.value = end.uf;
        }
    
    }
    function checkCPF(cpf, identificador){
            const csrfTokenInput = document.querySelector("input[name='csrfmiddlewaretoken']");
            const csrfToken = csrfTokenInput.value;
            let url = "/atualizacao/checkcpf/";
            fetch(url,{
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ cpf: cpf })
            })
            .then((response)=>{
                response.json()
                .then((data)=>{
                    let cpfInput = document.getElementById("id_cpf"+identificador);
                    console.log("id_cpf"+identificador)
                    let smallError = cpfInput.nextElementSibling; // Verifique se já existe um elemento irmão
                    if (data.exists) {
                        pessoa = JSON.parse(data.pessoa);
                        if (!smallError || smallError.tagName !== "SMALL") {
                            smallError = document.createElement("small");
                            smallError.classList.add("text-danger");
                            cpfInput.parentNode.insertBefore(smallError, cpfInput.nextSibling);
                        }
                        smallError.textContent = data.message;
                        cp_responsavel_tributario.value = pessoa[0].fields.responsavel_tributario;
                        cp_cnpj.value = pessoa[0].fields.cnpj;
                        cp_nome_do_contribuinte.value = pessoa[0].fields.nome_do_contribuinte;
                        cp_celular.value = pessoa[0].fields.celular;
                        cp_cep.value = pessoa[0].fields.cep;
                        cp_numero.value = pessoa[0].fields.numero;
                        cp_complemento.value = pessoa[0].fields.complemento;
                        cp_bairro.value = pessoa[0].fields.bairro;
                        cp_email.value = pessoa[0].fields.email;
                        cp_bairro.value = pessoa[0].fields.bairro;
                        cp_rua.value = pessoa[0].fields.rua;
                        cp_cidade.value = pessoa[0].fields.cidade;
                        cp_estado.value = pessoa[0].fields.estado;
                        
                        cp_cpf_responsavel.value = pessoa[0].fields.cpf_responsavel;
                        cp_email_responsavel.value = pessoa[0].fields.email_responsavel;
                        cp_celular_responsavel.value = pessoa[0].fields.telefone_responsavel;
                        
                        cp_cpf_procurador.value = pessoa[0].fields.cpf_procurador;
                        cp_nome_procurador.value = pessoa[0].fields.nome_procurador;
                        cp_email_procurador.value = pessoa[0].fields.email_procurador;
                        cp_celular_procurador.value = pessoa[0].fields.telefone_procurador;

                    } else {
                        // Se exists for false, remova a mensagem de erro existente
                        if (smallError && smallError.tagName === "SMALL") {
                            smallError.remove();
                        }
                    }
                })
            })
            }
    function checkCPF_Processo(cpf){
    const csrfTokenInput = document.querySelector("input[name='csrfmiddlewaretoken']");
    const csrfToken = csrfTokenInput.value;
    let url = "/atualizacao/checkcpf-2/";
    fetch(url,{
        method: 'POST',
        headers: {
            'X-CSRFToken': csrfToken,
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ cpf: cpf })
    })
    .then((response)=>{
        response.json()
        .then((data)=>{
            const cpfInput = document.getElementById("id_cpf_processo");
            let smallError = cpfInput.nextElementSibling; // Verifique se já existe um elemento irmão
            if (smallError && smallError.tagName === "SMALL") {
                        smallError.remove();
                    }
            if (data.exists) {
                if (!smallError || smallError.tagName !== "SMALL") {
                    smallError = document.createElement("small");
                    smallError.classList.add("text-success");
                    cpfInput.parentNode.insertBefore(smallError, cpfInput.nextSibling);
                }
                // smallError.textContent = data.message;
            } else {
                smallError = document.createElement("small");
                smallError.classList.add("text-danger");
                cpfInput.parentNode.insertBefore(smallError, cpfInput.nextSibling);
                }
                smallError.innerHTML = data.message;
                
                
            })
        })
    }
    function checkCPF_Inscricao(cpf){
        const csrfTokenInput = document.querySelector("input[name='csrfmiddlewaretoken']");
        const csrfToken = csrfTokenInput.value;
        let url = "/atualizacao/checkcpf-2/";
        fetch(url,{
            method: 'POST',
            headers: {
                'X-CSRFToken': csrfToken,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ cpf: cpf })
        })
        .then((response)=>{
            response.json()
            .then((data)=>{
            const cpfInput = document.getElementById("id_cpf_inscricao");
            let smallError = cpfInput.nextElementSibling; // Verifique se já existe um elemento irmão
            if (smallError && smallError.tagName === "SMALL") {
                        smallError.remove();
                    }
            if (data.exists) {
                if (!smallError || smallError.tagName !== "SMALL") {
                    smallError = document.createElement("small");
                    smallError.classList.add("text-success");
                    cpfInput.parentNode.insertBefore(smallError, cpfInput.nextSibling);
                }
                // smallError.textContent = data.message;
            } else {
                smallError = document.createElement("small");
                smallError.classList.add("text-danger");
                cpfInput.parentNode.insertBefore(smallError, cpfInput.nextSibling);
                }
                smallError.innerHTML = data.message;
                
                
            })
        })
    }
    async function cadastrarPessoa(e) {
        // e.preventDefault();
        const form = document.getElementById('recadastramentoForm');
        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());

        // Remove mensagens de erro anteriores
        const errorElements = document.querySelectorAll('.text-danger');
        errorElements.forEach(element => element.remove());

        try {
            const response = await fetch('cadastrar-pessoa/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken') // Função para pegar o CSRF token
                },
                body: JSON.stringify(data)
            });
            console.log(response)
            if (response.ok) {
                // Limpar o formulário em caso de sucesso
                form.reset();
                alert('Cadastro realizado com sucesso!');
            } else {
                const errorData = await response.json();
                console.log('Erro ao cadastrar:', errorData);
                displayErrors(errorData.errors);
                alert('Erro ao cadastrar, por favor, verifique os dados.');
            }
        } catch (error) {
            console.error('Erro ao realizar a requisição:', error);
            alert('Erro ao realizar a requisição, tente novamente.');
        }
    }
    async function cadastrarProcesso(e) {
        // e.preventDefault();
        const form = document.getElementById('processoForm');
        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());

        // Remove mensagens de erro anteriores
        const errorElements = document.querySelectorAll('.text-danger');
        errorElements.forEach(element => element.remove());

        try {
            const response = await fetch('cadastrar-processo/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken') // Função para pegar o CSRF token
                },
                body: JSON.stringify(data)
            });
            console.log(response)
            if (response.ok) {
                // Limpar o formulário em caso de sucesso
                form.reset();
                alert('Cadastro realizado com sucesso!');
            } else {
                const errorData = await response.json();
                console.log('Erro ao cadastrar:', errorData);
                displayErrors(errorData.errors);
                alert('Erro ao cadastrar, por favor, verifique os dados.');
            }
        } catch (error) {
            console.error('Erro ao realizar a requisição:', error);
            alert('Erro ao realizar a requisição, tente novamente.');
        }
    }
    async function cadastrarInscricao(e) {
        // e.preventDefault();
        const form = document.getElementById('inscricaoForm');
        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());

        // Remove mensagens de erro anteriores
        const errorElements = document.querySelectorAll('.text-danger');
        errorElements.forEach(element => element.remove());

        try {
            const response = await fetch('cadastrar-inscricao/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken') // Função para pegar o CSRF token
                },
                body: JSON.stringify(data)
            });
            console.log(response)
            if (response.ok) {
                // Limpar o formulário em caso de sucesso
                form.reset();
                alert('Cadastro realizado com sucesso!');
            } else {
                const errorData = await response.json();
                console.log('Erro ao cadastrar:', errorData);
                displayErrors(errorData.errors);
                alert('Erro ao cadastrar, por favor, verifique os dados.');
            }
        } catch (error) {
            console.error('Erro ao realizar a requisição:', error);
            alert('Erro ao realizar a requisição, tente novamente.');
        }
    }
// Função para exibir erros de validação
function displayErrors(errors) {
    for (const [field, messages] of Object.entries(errors)) {
        const fieldElement = document.getElementById(`id_${field}`);
        if (fieldElement) {
            messages.forEach(message => {
                const small = document.createElement('small');
                small.classList.add('text-danger');
                small.textContent = message;
                fieldElement.parentNode.appendChild(small);
            });
        }
    }
}

// Função para obter o CSRF token
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>


{% endblock %}