{% extends 'template.html' %}
{% load static %}

{% block nav %}
{% include 'nav_cidade_inteligente.html' %}
{% endblock %}

{% block index %}
.s-nav-active
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
<link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/static/css/cidade_inteligente_estilo.css">
{% endblock%}

{% block main %}
<div class="row mx-auto px-5">
  <div class="col">
    AAAA
  </div>
</div>
{% endblock %}
