<div id="navegacao" class="container">
    <div class="row">
      <div class="col  d-flex">
        <a href="{% url 'financas:index' %}"  class="me-3">
          <div class="d-flex flex-column align-items-center">
            <div id="index" class="s-nav rounded-circle "></div>
            <p class="text-dark">Início</p>
          </div>
        </a>
        <a href="{% url 'financas:alvara' %}" class="me-3">
          <div class="d-flex flex-column align-items-center">
            <div id="tutor" class="s-nav rounded-circle "></div>
            <p class="text-dark text-center">Alvará</p>
          </div>
        </a>
        <a href="{% url 'financas:certidao' %}" class="me-3">
          <div class="d-flex flex-column align-items-center">
            <div id="adote" class="s-nav rounded-circle"></div>
            <p class="text-dark">Certidões</p>
          </div>
        </a>        
        <a href="{% url 'financas:iptu' %}" class="me-3">
          <div class="d-flex flex-column align-items-center">
            <div id="loja" class="s-nav rounded-circle destaque"></div>
            <p class="text-dark">IPTU</p>
          </div>
        </a> 
        <a href="{% url 'descontar_token' %}" class="me-3">
          <div class="d-flex flex-column align-items-center">
            <div id="loja" class="s-nav rounded-circle destaque"></div>
            <p class="text-dark">ITBI</p>            
          </div>
        </a>    
        <a href="{% url 'descontar_token' %}" class="me-3">
          <div class="d-flex flex-column align-items-center">
            <div id="loja" class="s-nav rounded-circle destaque"></div>
            <p class="text-dark">Isenção</p>
          </div>
        </a>   
        <a href="{% url 'descontar_token' %}" class="me-3">
          <div class="d-flex flex-column align-items-center">
            <div id="loja" class="s-nav rounded-circle destaque"></div>
            <p class="text-dark">Diversos</p>
          </div>
        </a>         
        {% if request.user.is_staff %}
        <a href="{% url 'administrativo' %}" class="me-3">
          <div class="d-flex flex-column align-items-center">
            <div id="admin" class="s-nav rounded-circle destaque"></div>
            <p class="text-dark">Admin</p>
          </div>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  <style>
    #index{      
      background-color: white !important;
      background-image: url(/static/images/icones/bemestaranimal_inicio.png);
      background-size: contain;
    }
    #tutor{
      background-color: white !important;
      background-image: url(/static/images/icones/bemestaranimal_tutor.png);
      background-size: contain;
    }
    #adote{
      background-color: white !important;
      background-image: url(/static/images/icones/bemestaranimal_adote.png);
      background-size: contain;
    }
    #loja{
      background-color: white !important;
      background-image: url(/static/images/icones/bemestaranimal_loja.png);
      background-size: contain;
    }
    #admin{
      background-color: white !important;
      background-image: url(/static/images/icones/bemestaranimal_admin.png);
      background-size: contain;
    }
  </style>