{% extends 'template.html' %}
{% load bootstrap5 %}
{% load static%}
{% block nav %}
{% include 'nav_os.html' %}
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/almoxarifado.css' %}">

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}
{% block os %}fw-bolder{% endblock %}
{% block main %}
<div class="row">
  <div class="col d-flex py-5"> 
        <div class="row w-100">
            <div class="col-10 pb-5 m-auto bg-white" style="border-radius: 30px;">                           
                <div class="row">
                    <div class="col px-4">                                                
                        <div class="px-2 pt-4 d-flex">
                        <h2 style="display: inline;">Indicadores</h2>   
                        <button id="btnServicos" class="btn btn-outline-dark my-auto ms-auto" onclick="changeChart('servicos')"><i class="fa-solid fa-chart-pie me-2"></i>Serviços</button>                     
                        <button id="btnBairros" class="btn btn-dark my-auto ms-1" onclick="changeChart('bairros')"><i class="fa-solid fa-chart-bar me-2"></i>Bairros</button>                     
                        <button id="btnFuncionarios" class="btn btn-dark my-auto ms-1" onclick="changeChart('funcionarios')"><i class="fa-solid fa-chart-column me-2"></i>Funcionários</button>                     
                        </div>                    
                    </div>
                </div> 
                <script>
                  let chartAtual='servico'
                  let charts = ['servicos', 'bairros', 'funcionarios'];

                  function changeChart(selectChart) {
                    console.log(selectChart)                    
                    for (let i = 0; i < charts.length; i++) {
                      let chartId = charts[i];
                      let chartElement = document.getElementById(chartId);
                      let buttonElement = document.getElementById('btn' + chartId.charAt(0).toUpperCase() + chartId.slice(1));


                      if (chartElement) {
                        if (chartId === selectChart) {
                          chartElement.style.display = 'block';
                          buttonElement.classList.remove('btn-dark');
                          buttonElement.classList.add('btn-outline-dark');
                        } else {
                          chartElement.style.display = 'none';
                          buttonElement.classList.remove('btn-outline-dark');
                          buttonElement.classList.add('btn-dark');
                        }
                      }
                    }
                    chartAtual = selectChart;
                  }
                </script> 
                <div class="row" id="servicos">
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <script type="text/javascript">
                          google.charts.load('current', {'packages':['corechart']});
                          google.charts.setOnLoadCallback(drawChart);
    
                          function drawChart() {
    
                            var data = google.visualization.arrayToDataTable([
                              ['Task', 'Hours per Day'],
                              ['Finalizados',     {{finalizados}}],
                              ['Não finalizados',      {{nao_finalizados}}],                            
                            ]);
    
                            var options = {
                              title: 'Finalizados x Não Finalizados'
                            };
    
                            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
    
                            chart.draw(data, options);
                          }
                        </script>
                        <div id="piechart" style="width: 600px; height: 400px;"></div>
                      </div>
                      <div class="col d-flex flex-column pb-4">
                        <div href="https://www.cecierj.edu.br/" class="card-universidade btn  mx-auto mt-auto d-flex flex-column">
                          Finalizados:
                          <h1>{{finalizados}}</h1>
                        </div>
                        <div href="http://www.cefet-rj.br/" class="card-universidade btn  mx-auto mt-3 mb-auto d-flex flex-column">
                          Não finalizados:
                          <h1>{{nao_finalizados}}</h1>
                        </div>  
                      </div>                  
                    </div>                
                    <div class="row">
                      <div class="col d-flex">                                          
    
                          <script type="text/javascript">
                            google.charts.load('current', {'packages':['corechart']});
                            google.charts.setOnLoadCallback(drawChart);
    
                            function drawChart() {
    
                              var data = google.visualization.arrayToDataTable([
                                ['Sigla', 'Total'],
                                {% for item in os_finalizadas_por_tipo %}
                                ['{{item.tipo__sigla}}: {{item.total_finalizadas}}',     {{item.total_finalizadas}}],
                                {% endfor %}                            
                              ]);
    
                              var options = {
                                title: 'Finalizados por tipo'
                              };
    
                              var chart = new google.visualization.PieChart(document.getElementById('piechart2'));
    
                              chart.draw(data, options);
                            }
                          </script>
                          <div id="piechart2" style="width: 600px; height: 400px;"></div>
    
                          <script type="text/javascript">
                            google.charts.load('current', {'packages':['corechart']});
                            google.charts.setOnLoadCallback(drawChart);
    
                            function drawChart() {
    
                              var data = google.visualization.arrayToDataTable([
                                ['Sigla', 'Total'],
                                {% for item in os_nao_finalizadas_por_tipo %}
                                ['{{item.tipo__sigla}}: {{item.total_nao_finalizadas}}',     {{item.total_nao_finalizadas}}],
                                {% endfor %}      
                              ]);
    
                              var options = {
                                title: 'Não finalizados por tipo'
                              };
    
                              var chart = new google.visualization.PieChart(document.getElementById('piechart3'));
    
                              chart.draw(data, options);
                            }
                          </script>
                          <div id="piechart3" style="width: 600px; height: 400px;"></div>
                      </div>
                    </div>
                  </div>                  
                </div>
                <div class="row" id="bairros">
                  <div class="col d-flex">
                    <span class="m-auto">
                      EM CONSTRUÇÃO
                    </span>
                  </div>
                </div>
                <div class="row" id="funcionarios">
                  <div class="col d-flex">
                    <span class="m-auto">
                      EM CONSTRUÇÃO
                    </span>
                  </div>
                </div>                                               
                <style>
                  .card-universidade{                    
                    display: flex;
                    background-color: white;
                    width: 300px;
                    height: 110px;
                    border-radius: 30px;          
                    color: rgb(59, 59, 59);
                    border-color: rgb(255, 255, 255);
                    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);          
                    padding-top: 20px;
                    padding-bottom: 20px;
                  }                
                  .card-universidade img{
                    max-height: 100px;
          
                  }
                  #bairros, #funcionarios{
                    display: none;
                  }
                </style>
                </div>
            </div>
        </div>    
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  document.getElementById('os_kpi').classList.add('s-nav-active');  
</script>

{% endblock %}