{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_financas.html' %}
{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/carrossel.css">
<script src="/static/js/carrossel.js"></script>
{% endblock %}
{% block main %}
<div class="container">
    <div class="row mx-auto bg-destaque ps-4 pb-2 pt-1">
        <h3>Documentos para Alvará</h3>
            <nav>
                <ul>
                    <li><a class="btn btn-dark" href="{% url 'financas:get_alvara' 'requerimento_alvara' %}">Requerimento
                        de Alvará</a></li>
                    <li> <a class="btn btn-dark" href="{% url 'financas:get_alvara' 'requerimento_baixa' %}">Requerimento de
                        Baixa de
                        Débito</a></li>
                    <li> <a class="btn btn-dark" href="{% url 'financas:get_alvara' 'requerimento_iss' %}">Requerimento de
                        certidão de
                        ISS e Alvará</a></li>
                    <li><a class="btn btn-dark" href="{% url 'financas:get_alvara' 'requerimento_revisao' %}">Requerimento
                        de revisão de taxa e Alvará</a></li>
                </ul>
            </nav>
    </div>

    <div class="row mx-auto px-5" style="height: 100px;">
        <script>
            document.getElementById('index').classList.add('s-nav-active');
        </script>
    </div>
</div>
{% endblock %}