{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_financas.html' %}
{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/financas_tipo_processo/main.css">
<link rel="stylesheet" href="/static/css/carrossel.css">
<script src="/static/js/carrossel.js"></script>
{% endblock %}
{% block main %}
<div class="container">

    <div class="d-flex">
        <h2>Documentos</h2>
        <div class="ms-auto input-group" style="position:relative; max-width: 300px ;">
            <input style="border-radius: 30px !important; padding-right: 35px;" type="search" name="search" id="search"
                class="form-control" onkeyup="filterLi(this)">
            <i class="fa-solid fa-magnifying-glass"
                style="position: absolute; right: 0; margin: 10px 10px auto auto;"></i>
        </div>
    </div>
    <p>Aqui você encontra formulários para os diversos processos tratados pela Secretaria da Fazenda de Nova Friburgo.
        Procure pelo tipo de processo que deseja e baixe o formulário correspondente. A maioria dos formulários são PDFs
        com campos preenchíveis: você pode baixá-los, preencher no computador e depois imprimir. Os documentos
        necessários a cada processo estão descritos nos respectivos formulários.</p>
    <!-- <ol>
        <li>Acesse o formulário de requerimento desejado</li>
        <li>Preencha todos os campos com as informações solicitadas</li>
        <li>Baixe o formulário clicando no link de download</li>
        <li>Abra o arquivo em seu computador e certifique-se que está preenchido corretamente</li>
        <li>Agora é só imprimir e levar até nosso atendimento presencial.</li>
    </ol> -->
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" onclick="show('alvara')">Alvará</button>
            <button class="btn btn-primary" onclick="show('itbi')">ITBI</button>
        </div>
    </div>
    <div class="opcoes_formulario row mx-auto bg-destaque ps-4 pb-2 pt-1 text-dark" style="color: black;">
        <div id="alvara" class="categoria hidden_form">
            <h1>Alvará</h1>
            {% for arquivo in arquivos.alvara %}
            <li>
                <a data-bs-toggle="modal" data-bs-target="#exampleModal"
                    onclick="mudar_pdf('{{arquivo.0}}','{{arquivo.1}}')" class="btn btn-dark">{{arquivo.0}}</a>
            </li>
            {% endfor %}
        </div>
        <div id="itbi" class="categoria hidden_form">
            <h1>ITBI</h1>
            {% for arquivo in arquivos.itbi %}
            <li>
                <a data-bs-toggle="modal" data-bs-target="#exampleModal"
                    onclick="mudar_pdf('{{arquivo.0}}','{{arquivo.1}}')" class="btn btn-dark">{{arquivo.0}}</a>
            </li>
            {% endfor %}
        </div>
        <div id="busca" class="categoria hidden_form">
            <h1>Resultado da busca</h1>
            {% for arquivo in arquivos.alvara %}
            <li>
                <a data-bs-toggle="modal" data-bs-target="#exampleModal"
                    onclick="mudar_pdf('{{arquivo.0}}','{{arquivo.1}}')" class="btn btn-dark">{{arquivo.0}}</a>
            </li>
            {% endfor %}
            {% for arquivo in arquivos.itbi %}
            <li>
                <a data-bs-toggle="modal" data-bs-target="#exampleModal"
                    onclick="mudar_pdf('{{arquivo.0}}','{{arquivo.1}}')" class="btn btn-dark">{{arquivo.0}}</a>
            </li>
            {% endfor %}
        </div>
    </div>

    <div class="row mx-auto px-5" style="height: 100px;">
        <script>
            document.getElementById('s-itbi').classList.add('s-nav-active');
        </script>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">
                    <span id="titulo"></span>
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe id="leitor_pdf" src="" style="height: 800px; width: 100%;" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>

<script>
    function mudar_pdf(titulo, url) {
        document.getElementById('titulo').innerText = titulo
        document.getElementById('leitor_pdf').src = '/static/pdfs/' + url
    }
    function hidden_all() {
        elements = document.getElementsByClassName('categoria')
        for (let index = 0; index < elements.length; index++) {
            const element = elements[index];

            element.classList.remove('show_form')
            element.classList.add('hidden_form')

        }
    }
    function show(id) {
        hidden_all()
        document.getElementById(`search`).value = ``
        document.getElementById(id).classList.remove('hidden_form')
        document.getElementById(id).classList.add('show_form')
    }
    function filterLi(e) {
        hidden_all()

        const searchText = e.value.trim().toLowerCase();

        if (searchText.length < 3) {
            console.log('entrou aqui')
            return;
        }

        const liElements = document.querySelectorAll("#busca li");

        liElements.forEach((li) => {
            const liText = li.textContent.trim().toLowerCase();
            if (liText.includes(searchText)) {
                li.classList.remove("hidden_form");
                li.classList.add("show_form");
            } else {
                li.classList.remove("show_form");
                li.classList.add("hidden_form");
            }
        });
        document.getElementById(`busca`).classList.remove("hidden_form");
        document.getElementById(`busca`).classList.add("show_form");
    }
</script>
{% endblock %}