{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_financas.html' %}
{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/carrossel.css">
<script src="/static/js/carrossel.js"></script>
{% endblock %}
{% block main %}
<div class="container">
    <div class="row mx-auto bg-destaque ps-4 pb-2 pt-1">
        <a class="btn btn-primary" href="{% url 'financas:get_iptu' 'requerimento_baixaDeb' %}">Requerimento de baixa de débito</a>
    </div>

    <div class="row mx-auto px-5" style="height: 100px;">
    <script>
        document.getElementById('index').classList.add('s-nav-active');
    </script>
</div>
</div>
{% endblock %}