{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_financas.html' %}
{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/carrossel.css">
<script src="/static/js/carrossel.js"></script>
{% endblock %}
{% block main %}
<div class="container">
    <div class="row mx-auto bg-destaque ps-4 pb-2 pt-1">
        <h3>Documentos de ITBI<h3>
                <nav>
                    <ul>
                        <li><a href="{% url 'financas:isencao' 'requerimento_imunidade_tributaria' %}"
                                class="btn btn-dark">Requerimento de Imunidade Tributária</a></li>
                        <li><a href="{% url 'financas:isencao' 'requerimento_isencao' %}"
                                class="btn btn-dark">Requerimento de Isenção</a></li>
                        <li><a href="{% url 'financas:isencao' 'requerimento_insencao_nao_incidencia_tributaria' %}"
                                class="btn btn-dark">Requerimento de Isenção/Não Incidência Tributária</a></li>
                        <li><a href="{% url 'financas:isencao' 'requerimento_isencao_parcial_tombamento' %}"
                                class="btn btn-dark">Requerimento de Insenção Parcial de Tombamento</a></li>
                    </ul>
                </nav>
    </div>
    {% if not arg == 'opcoes' %}
    <div class="row mx-auto bg-destaque ps-4 pb-2 pt-1 text-dark" style="color: black;">
        <iframe src="/static/pdfs/isencao/{{url_pdf}}" frameborder="0" style="height: 1200px;"></iframe>
    </div>
    {% endif %}


    <div class="row mx-auto px-5" style="height: 100px;">
        <script>
            document.getElementById('index').classList.add('s-nav-active');
        </script>
    </div>
</div>
{% endblock %}