{% extends 'base_site.html' %}
{% block title %}{{tipo_cadastro}} Vaga{% endblock %}
{% block css %}
{{block.super}}
{% endblock%}
{% block main_conteudo %}
{% load widget_tweaks %}   
{% load bootstrap5 %}  
{% load qntvagas %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>    
{% if success.0 %}
<div class="row px-4 mb-3">
    <div class="col d-flex bg-success py-2">
        <p class="m-auto text-white">{{success.1}}</p>
    </div>
</div>
{% endif %}                  
<div class="row">    
    <div class="col d-flex">
        <h2 class="text-start text-uppercase">Encaminhamentos do funcionário</h2>   		
		<div class="ms-auto">
			<a href="{% url 'vagas:pesquisar_candidatos' %}" class="btn btn-btfl me-2"><i class="fas fa-search me-2"></i>Candidato</a>
			<button class="btn btn-btfl"><i class="fas fa-filter me-2"></i>Filtrar</button>
		</div>
    </div>
  </div>  
  <div class="row">
	<div class="col">
		<h3 class="text-start">id {{id}} - {{fulano}}</h3>
	</div>
  </div>
<form id="form_cadastro_vaga" {% if tipo_cadastro != '' %}method="post"{% endif %} class="form w-100 text-start">	
    <div class="row">
        <div class="col pt-3 px-5">			
			<table class="table table-hover text-center">
				<thead>
					<tr>						
						<th>Nome</th>
						<th>Email</th>
						<th>Celular</th>
						<th>Encaminhamento</th>
						<th>Data de registro</th>				
						<th></th>
					  </tr>
					</thead>
					<tbody>					
					{% for candidato in candidatos %}            
					<tr style="background-color: rgba(230, 230, 230, 0.274);"></tr>						
						<td class="text-capitalize">{{candidato.nome|lower}}</td>
						<td>{{candidato.email}}</td>
						<td>{{candidato.celular}}</td>
						<td>
							{% if candidato.candidato_online %}
							<span class="text-success">Online</span>
							{% else %}
							<span class="text-danger">Balcão</span>
							{% endif %}                    
						</td>
						<td>{{candidato.dt_inclusao}}</td>									
					</tr>
					{% endfor %}
				</tbody>
			  </table>
			  <style>
				table{
				  font-size:  0.9em;
				}
				.indicador{
					background-color: #507B9B;
					color: white;
				}
				.indicador span{
					font-size: 40pt;
				}
			  </style>
        </div>      
    </div>    
    
	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">

		{% if candidatos.has_previous %}
		{% comment %} <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li> {% endcomment %}
			<li class="page-item"><a class="page-link" href="?page={{ candidatos.previous_page_number }}">&laquo; anterior</a></li>
		{% endif %}

		{% for x in candidatos.page_range %}
		  <li class="page-item {% if x == candidatos.number  %} disabled {% endif %}"><a class="page-link" href="?page={{ x }}">{{x}}</a></li>
		{% endfor %}

			{% if candidatos.has_next %}
			<li class="page-item"><a class="page-link" href="?page={{ candidatos.next_page_number }}">próximo &raquo;</a></li>
				{% comment %} <li class="page-item"><a class="page-link" href="?page={{ candidatos.paginator.num_pages }}">last &raquo;</a></li> {% endcomment %}
		{% endif %}
		  </li>
		</ul>
	  </nav>

<script>
   
</script>

{% endblock %}