{% extends 'base_site.html' %}
{% load static %}
{% block title %}Bem vindo{% endblock %}
{% block css %}
{{block.super}}
{% endblock%}
{% block main_conteudo %}
<div class="col">
    <h1 class="titulo"><span class="mobile_hidden">ENCAMINHAMENTO</h1>
    <div class="w-100 text-start text-justify">
        <p style="margin-top: 50px;margin-bottom: 15px;">Prezado(a),</p>
        <p style="text-indent: 30px;">A CASA DO TRABALHADOR, no exercício de suas atribuições legais e regimentais, encaminha o candidato, interessado na vaga de <b>{{vaga.cargo.nome}}</b>{% if not vaga.empresa.ocultar %},
            à empresa <b>{{vaga.empresa.nome}}</b> de CNPJ <b id="cnpj">{{vaga.empresa.cnpj}}</b>{% endif %}, a realizar contato por uma das seguintes opções:</p>
        {% if vaga.empresa.contato_presencial %}
        <hr>
        <b><i class="fas fa-home me-2"></i>DE FORMA PRESENCIAL</b>
        <p style="text-indent:  30px;">                
            O candidato deverá se encaminhar ao endereço abaixo, munido de seu currículo e seu cpf para retirada da carta de encaminhamento:<br>
        <h1 class="titulo text-dark text-center" style="font-size: 14pt;">Av. Alberto Braune, 223 - Centro, Nova Friburgo - RJ, 28605-020</h1>
        {% endif %}
        {% if vaga.empresa.contato_telefone %}
        <hr>
        <b><i class="fas fa-phone-alt me-2"></i>POR  TELEFONE</b>
        <p style="margin: 10px 30px;">                
        O candidato deverá  ligar para: <br>
        <h1 class="titulo text-dark text-center" id="telefone" style="font-size: 14pt;">{{vaga.empresa.telefone}}</h1>
        <script>
             window.onload = function(){   
                let tel = document.getElementById('telefone');
                let wpp = document.getElementById('whatsapp');
                if(tel){
                    document.getElementById('telefone').innerText=document.getElementById('telefone').innerText.replace(/^(\d{1})(\d{1})(\d{4})(\d{4})/, "$1$2 $3-$4")
                }
                if(wpp){
                document.getElementById('whatsapp').innerText=document.getElementById('whatsapp').innerText.replace(/^(\d{1})(\d{1})(\d{4})(\d{4})/, "$1$2 $3-$4")
                }

            };
        </script>
        {% endif %}
        {% if vaga.empresa.contato_whatsapp %}
        <hr>
        <b><i class="fab fa-whatsapp me-2"></i>POR WHATSAPP</b>
        <p style="margin: 10px 30px;">                
        O candidato deverá entrar em contato com o whatsapp abaixo: <br>
        <h1 class="titulo text-dark text-center" style="font-size: 14pt;">0<span id="whatsapp">{{vaga.empresa.whatsapp}}</span></h1>
        {% endif %}
        {% if vaga.empresa.contato_email %}
        <hr>
        <b><i class="fas fa-envelope me-2"></i>POR EMAIL</b>
        <p style="margin: 0 30px;">                
        O candidato deverá enviar uma mensagem com seu currículo em anexo,  para o endereço: <br>
        <h1 class="titulo text-dark text-center" style="font-size: 14pt;">{{vaga.empresa.email}}</h1>
        {% endif %}      
        <hr>  
        <p class="text-center" style="margin-top: 30px;">
            Desde já agradecemos e continuamos a disposição de V. srª para maiores
             informações<br>no telefone <b>(22)2525-9205</b> ou pelo whatsapp <b>022 99793-5451</b>.
        </p>
    </div>
    
    
    
</div>
{% endblock %}