{% extends 'base_site.html' %} {% load static %} 
{% block title %}Indicadores{% endblock %} 
{% block css %} {{block.super}} {% endblock%} 
{% block main_conteudo %}

<div class="col">

    <div class="main-card mb-3 card">
        <div id="graf_top_cargos_ofertados" style="width: 100%; height: 450px;"></div>
    </div> 

    <div class="main-card mb-3 card">
        <div id="graf_escolaridades" style="width: 100%; height: 450px;"></div>
    </div> 

    <div class="main-card mb-3 card">
        <div id="graf_candidato_por_mes" style="width: 100%; height: 450px;"></div>
    </div> 

    <div class="main-card mb-3 card">
        <div id="graf_vagas_por_empresa" style="width: 100%; height: 450px;"></div>
    </div> 

    <div class="main-card mb-3 card">
      <div id="graf_vaga_cadastradas_por_mes" style="width: 100%; height: 450px;"></div>
    </div>

    <div class="main-card mb-3 card">
      <div id="graf_relacao_online_balcao" style="width: 100%; height: 450px;"></div>
    </div>
</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      
      function drawChart() {
        
        let data = google.visualization.arrayToDataTable([
          ['Cargo', 'Quantidade'],
            {% for cargo_ofertado in top_cargos_ofertados %}
                    ["{{ cargo_ofertado.nome}}",     {{ cargo_ofertado.total }}],
            {% endfor %}
        ]);

        let options = {
          title: '{{top_x}} cargos com mais vagas',
          pieHole: 0.4,
        };

        let chart = new google.visualization.PieChart(document.getElementById('graf_top_cargos_ofertados'));
        chart.draw(data, options);

        // -------------------------- //

        data = google.visualization.arrayToDataTable([
        ['Cargo', 'Quantidade'],
          {% for escolaridade in escolaridades %}
                  ["{{ escolaridade.nome}}",     {{ escolaridade.total }}],
          {% endfor %}
        ]);

        options = {
            title: 'Candidatos por escolaridade',
            pieHole: 0.4,
        };

        chart = new google.visualization.PieChart(document.getElementById('graf_escolaridades'));
        chart.draw(data, options);


        // -------------------------- //

        data = google.visualization.arrayToDataTable([
        ['Cargo', 'Quantidade'],
          {% for candidato_por_mes in candidatos_por_mes %}
                  ["{{ candidato_por_mes.nome|date:"M Y"}}",     {{ candidato_por_mes.total }}],
          {% endfor %}
        ]);

        options = {
            title: 'Cargos ofertados por mês',
        };

        chart = new google.visualization.ColumnChart(document.getElementById('graf_candidato_por_mes'));
        chart.draw(data, options);

         // -------------------------- //

         data = google.visualization.arrayToDataTable([
         ['Mês', 'Quantidade'],
           {% for vaga_cadastradas_por_mes in vagas_cadastradas_por_mes %}
                   ["{{ vaga_cadastradas_por_mes.nome|date:"M Y"}}",     {{ vaga_cadastradas_por_mes.total }}],
           {% endfor %}
         ]);
 
         options = {
             title: 'Candidatos por mês',
         };
 
         chart = new google.visualization.ColumnChart(document.getElementById('graf_vaga_cadastradas_por_mes'));
         chart.draw(data, options);

        // -------------------------- //

        data = google.visualization.arrayToDataTable([
        ['Empresa', 'Quantidade'],
          {% for vaga_por_empresa in vagas_por_empresa %}
                  ["{{ vaga_por_empresa.nome}}",     {{ vaga_por_empresa.total }}],
          {% endfor %}
        ]);

        options = {
            title: '{{top_x}} empresas com maior número de oferta de vagas',
            pieHole: 0.4,
        };

        chart = new google.visualization.PieChart(document.getElementById('graf_relacao_online_balcao'));
        chart.draw(data, options);

    // -------------------------- //

    data = new google.visualization.DataTable();
    data.addColumn('string', 'Mês');
    data.addColumn('number', 'Candidatos Online');
    data.addColumn('number', 'Candidatos presencialmente');

    data.addRows([
      {% for relacao in relacao_online_balcao %}
              ["{{ relacao.nome|date:"M Y"}}", {{ relacao.online }}, {{relacao.balcao}}],
      {% endfor %}
    ]);

    options = {
        title: 'Relação de vagas onlines e presencialmente',
    };

    chart = new google.visualization.ColumnChart(document.getElementById('graf_vagas_por_empresa'));
    chart.draw(data, options);

    }


      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);


    
    </script>
{% endblock %}