{% extends 'base_site.html' %}
{% block title %}{{tipo_cadastro}} Vaga{% endblock %}
{% block css %}
{{block.super}}
{% endblock%}
{% block main_conteudo %}
{% load widget_tweaks %}   
{% load bootstrap5 %}  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
{% if success.0 %}
<div class="row px-4 mb-3">
    <div class="col d-flex bg-success py-2">
        <p class="m-auto text-white">{{success.1}}</p>
    </div>
</div>
{% endif %}                  
<div class="row">    
    <div class="col d-flex">
        <h2 class="text-start text-uppercase">{{ tipo_cadastro }} VAGA OFERTADA{% if mes and ano%} - {{mes}}/{{ano}}{% endif %}</h2>
      
            <span class="ms-auto"><a class="btn btn-btfl bg-primary" href="{% url 'vagas:painel_administrativo' %}">Voltar</a></span>
   
    </div>
  </div>
  <div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <th>Nome</th>
                <th>Email</th>
                <th>Celular</th>
                <th>Encaminhamento</th>
                <th>Data de registro</th>
            </thead>
            </tbody>
        {% for candidato in candidatos %}
            
            <tr>
                <td class="text-capitalize">{{candidato.nome|lower}}</td>
                <td>{{candidato.email}}</td>
                <td>{{candidato.celular}}</td>
                <td>
                    {% if candidato.candidato_online %}
                    <span class="text-success">Online</span>
                    {% else %}
                    <span class="text-danger">Balcão</span>
                    {% endif %}                    
                </td>
                <td>{{candidato.dt_inclusao}}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">

		{% if candidatos.has_previous %}
		{% comment %} <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li> {% endcomment %}
			<li class="page-item"><a class="page-link" href="?page={{ candidatos.previous_page_number }}">&laquo; anterior</a></li>
		{% endif %}

		{% for x in candidatos.page_range %}
		  <li class="page-item {% if x == candidatos.number  %} disabled {% endif %}"><a class="page-link" href="?page={{ x }}">{{x}}</a></li>
		{% endfor %}

			{% if candidatos.has_next %}
			<li class="page-item"><a class="page-link" href="?page={{ candidatos.next_page_number }}">próximo &raquo;</a></li>
				{% comment %} <li class="page-item"><a class="page-link" href="?page={{ candidatos.paginator.num_pages }}">last &raquo;</a></li> {% endcomment %}
		{% endif %}
		  </li>
		</ul>
	  </nav>
      
  </div>
{% endblock %}