{% extends 'base_site.html' %} {% load static %} 
{% block title %}Painel administrativo{% endblock %} 
{% block css %} {{block.super}} {% endblock%}

{% block head_js %}
<script src="{% static 'assets/js/modal.js' %}"></script>
{% endblock %}

{% block main_conteudo %}


<div class="col d-flex flex-column">  
  <div class="row">
    <div class="col d-flex">
        <b style="font-size: 20pt;">EXCLUIR CPF</b>
        <a class="btn btn-primary  ms-auto" href="{% url 'vagas:painel_administrativo' %}">
          Voltar
        </a>
    </div>
  </div>
  <form id="excluir_candidato" class="m-auto" >
    <div class="d-flex" >
    <label class="my-auto me-3" for="cpf">CPF:</label>
    <input
      id="cpf"
      type="text"
      class="form-control mb-2"
      onkeydown="mascara(this, icpf)"
      required
      style="width:300px;"
    />
    <button class="btn btn-danger mb-auto ms-3">Excluir CPF</button>
    </div>    
    <form />
</div>

      <script>
        function mascara(o, f) {
          v_obj = o;
          v_fun = f;
          setTimeout("execmascara()", 1);
        }
        function execmascara() {
          v_obj.value = v_fun(v_obj.value);
        }
        function icpf(v) {
          v = v.replace(/\D/g, ""); //Remove tudo o que nao e digito
          v = v.replace(/(\d{3})(\d)/, "$1.$2"); //Coloca um ponto entre o terceiro e o quarto digitos
          v = v.replace(/(\d{3})(\d)/, "$1.$2"); //Coloca um ponto entre o terceiro e o quarto digitos
          //de novo (para o segundo bloco de numeros)
          v = v.replace(/(\d{3})(\d{1,2})$/, "$1-$2"); //Coloca um hifen entre o terceiro e o quarto digitos
          return v;
        }

        document
          .getElementById("excluir_candidato")
          .addEventListener("submit", async (e) => {
            e.preventDefault();
            cpf = document.getElementById("cpf").value;
            cpf.replace("-", "");
            cpf.replace(".", "");

            const response = await fetch("/excluir_cpf", {
              method: "POST",
              headers: {
                "X-CSRFToken": "{{ csrf_token }}",
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ cpf, step: 0 }),
            });

            if (!response.ok){
                console.log(response)
                Message.push("CPF Inválido", '1')
                return
            }

            const data = await response.json();

            if(data.qnt_excluidos == 0){
                Message.push(`Nenhum registro encontrado com o CPF especificado!`, 1)
                return
            }

            const promessinha = await AcceptDeclineModal.dispatch(`Você realmente deseja excluir ${data.qnt_excluidos == 1 ? "o" : "os"} <b>${data.qnt_excluidos}</b> ${data.qnt_excluidos == 1 ? "registro" : "registros"} com o CPF ${document.getElementById("cpf").value}?`)

            if(promessinha){
                const response = await fetch("/excluir_cpf", {
                    method: "POST",
                    headers: {
                      "X-CSRFToken": "{{ csrf_token }}",
                      "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data),
                  });
                  const finalData = await response.json();
                  Message.push(`Registros excluídos com sucesso!`, 1)
            } else{
                console.log('ação cancelada')
            }
        })
      </script>

{% endblock %}
