{% extends 'base_site.html' %} {% load static %} 
{% block title %}Painel Administrativo{% endblock %} 
{% block css %} {{block.super}} {% endblock%}

{% block head_js %}
<script src="{% static 'assets/js/modal.js' %}"></script>
{% endblock %}

{% block main_conteudo %}

<div class="row">
  <div class="col">
    <h1 class="text-start mb-0 pb-0">
      Painel Administrativo
    </h1>
  </div>
</div>
<div id="painelMenu" class="col">
  <a class="btn btn-primary" href="{% url 'vagas:vagas_com_candidatos' %}"><i class="fas fa-th-list me-2"></i><span class="mobile_hidden">Vagas com Candidatos</span></a>  
  <a class="btn btn-primary" href="{% url 'vagas:pesquisar_candidatos' %}"><i class="fas fa-search me-2"></i><span class="mobile_hidden">Procurar candidato</span></a>  <br>
  <a class="btn btn-primary" href="{% url 'vagas:painel_administrativo_excluir_cpf' %}"><i class="fas fa-trash me-2"></i><span class="mobile_hidden">Excluir CPF</span></a>  
  <a class="btn btn-primary" href="{% url 'vagas:indicadores'%}"><i class="fas fa-chart-pie me-2"></i><span class="mobile_hidden">Indicadores</span></a>    
  <a class="btn btn-primary" href="{% url 'vagas:emails'%}"><i class="fas fa-envelope me-2"></i><span class="mobile_hidden">Listar emails</span></a>    
  <a class="btn btn-primary" href="{% url 'vagas:candidatosporfuncionario'%}"><i class="fas fa-user me-2"></i><span class="mobile_hidden">Candidatos por funcionário</span></a>    

</div>
<style>
  #painelMenu .btn{
    width: 300px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 5px;    
  }
  
</style>

{% endblock %}
