{% extends 'base_site.html' %}
{% block title %}{{tipo_cadastro}} Vaga{% endblock %}
{% block css %}
{{block.super}}
{% endblock%}
{% block main_conteudo %}
{% load widget_tweaks %}   
{% load bootstrap5 %}  
{% load qntvagas %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 

{% if success.0 %}
<div class="row px-4 mb-3">
    <div class="col d-flex bg-success py-2">
        <p class="m-auto text-white">{{success.1}}</p>
    </div>
</div>
{% endif %}                  
<div class="row">    
    <div class="col d-flex">
        <h2 class="text-start text-uppercase">PESQUISAR CANDIDATOS POR CPF OU NOME</h2>   
		<div class="ms-auto">
			<a href="{% url 'vagas:vagas_com_candidatos' %}" class="btn btn-btfl me-2"><i class="fas fa-undo-alt me-2"></i>Voltar</a>			
		</div>
    </div>
  </div>
 
    <div class="row px-4 text-center my-3">
		<div class="col py-4 me-2 d-flex flex-column">
            <div class="input-group mb-3" style="max-width: 400px;">
        <form id='search_form' class='d-flex'>

				<span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
				<input type="text" oninput="potencial_mask(this)" id='search_input' class="form-control" placeholder="Pesquisar candidato" aria-label="pesquisar" aria-describedby="basic-addon1">
                <button id='pesquisar' class="mx-2 btn btn-primary">Pesquisar</button>
               
        </form>
            </div>
			  
        </div>        
    </div>
    <div class="row d-flex flex-column">
        <div class="col pt-3 px-5">
			<table class="table table-hover text-center">
				<thead>
					<tr>						
						<th class="text-center">Candidatos</th>						
						<th scope="col" >Cargo</th>
						<th scope="col">Vagas</th>
						<th scope="col">Empresa</th>			
					  </tr>
					</thead>
					<tbody id="search_candidato_result">
			
					</tbody>
			  </table>
			  <style>
				table{
				  font-size:  0.9em;
				}
				.indicador{
					background-color: #507B9B;
					color: white;
				}
				.indicador span{
					font-size: 40pt;
				}
			  </style>
        </div>      

        <div class="loading d-none" id="loading">
            <img src="/static/images/Spinner-1s-200px.svg"/>
          </div>   
    </div>    
    

<script>

    document.querySelector('#search_form').addEventListener('submit', (e)=>{
        e.preventDefault('#')
        pesquisar(document.querySelector('#search_input'))
    })

    function potencial_mask(element){
        if(/\d/.test(element.value)){
            execmascara(element, icpf)
        } else {
            execmascara(element, inome)
        }
    }
	
    function execmascara(element, fn){
        element.value=fn(element.value)
    }
    function icpf(v){
        v = v.substring(0, 14)
        v=v.replace(/\D/g,"")                    //Remove tudo o que nao e digito
        v=v.replace(/(\d{3})(\d)/,"$1.$2")       //Coloca um ponto entre o terceiro e o quarto digitos
        v=v.replace(/(\d{3})(\d)/,"$1.$2")       //Coloca um ponto entre o terceiro e o quarto digitos
                                                            //de novo (para o segundo bloco de numeros)
        v=v.replace(/(\d{3})(\d{1,2})$/,"$1-$2") //Coloca um hifen entre o terceiro e o quarto digitos
        return v
    }
    function inome(v){
        v=v.replace(/[0-9]/g,"")
        return v
    }

    function pesquisar(element){

        document.querySelector("#search_candidato_result").innerHTML = ''
        remove_class(document.querySelector('#loading'), 'd-none')
        add_class(document.querySelector('#pesquisar'), 'disabled')

        if(/\d/.test(element.value)){
            console.log(element.value)
            get_canditado_by_cpf(element.value.replaceAll('.','').replace('-', ''))

        } else {
            get_candidato_by_nome(element.value)
        }

    }

    async function get_canditado_by_cpf(value){
        
        const response = await fetch('/get_candidatos/',
        {
            method: 'POST',
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
                "Content-Type": "application/json",
            },
            body: JSON.stringify({cpf: value})
        })

        const data = await response.text()
        add_class(document.querySelector('#loading'), 'd-none')
        remove_class(document.querySelector('#pesquisar'), 'disabled')

        document.querySelector("#search_candidato_result").innerHTML = data
        
    }

    async function get_candidato_by_nome(value){
        const response = await fetch('/get_candidatos/',
        {
            method: 'POST',
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
                "Content-Type": "application/json",
            },
            body: JSON.stringify({nome: value})
        })

        const data = await response.text()
        add_class(document.querySelector('#loading'), 'd-none')
        remove_class(document.querySelector('#pesquisar'), 'disabled')

        document.querySelector("#search_candidato_result").innerHTML = data
    }

    function remove_class(el, class_name){
        el.classList.remove(class_name)
    }
    function add_class(el, class_name){
        el.classList.add(class_name)
    }

   function getCandidatos(value){
        var url = '/get_candidatos/';  
        $.ajax({ 
            url: url,
            data: {
                'candidatos': value,
            },
            success: function(data) {                               
                $("#search_candidato_result").html(data);
            }
        });                
    };
</script>

{% endblock %}