{% extends 'base_site.html' %} {% load static %} {% block title %}Vagas
Ofertadas{% endblock %} {% block css %} {{block.super}} {% endblock%} {% block main_conteudo %}
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"
></script>
<div class="col">
  <!-- <h2 class="text-start">VAGAS DISPONÍVEIS</h2> -->
  <div class="row">
    <div class="col d-flex">
      <h2 class="text-start">VAGAS OFERTADAS</h2>
      <div class="ms-auto px-3">
        <button class="btn btn-btfl2 me-2" id="filtros">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
          </svg>
        </button>
      {% if request.user.is_staff %}

      <span>
        <a class="btn btn-btfl me-2" href="{% url 'vagas:imprimir' %}"
          ><i class="fas fa-print"></i
        ></a>
        <a class="btn btn-btfl" href="{% url 'vagas:cadastrar' %}">CADASTRAR</a>
      </span>

      {% endif %}
    </div>
    </div>
    <div class="opcoes-filtros filter-hidden" id="opcoes-filtros">
      <div class="escolaridades">
        <h5 class="text-start">Escolaridade</h5>

        <select class="form-select" id="escolaridade">
          <option disabled selected value="" id="defaultSelect">
            -- Selecione uma escolaridade --
          </option>
          {% for escolaridade in escolaridades %}
          <option
            name="escolaridade"
            id="escolaridade-{{escolaridade.nome}}"
            value="{{escolaridade.nome}}"
          >{{escolaridade.nome}}</option>
          {% endfor %}
        </select>


      </div>

      <div class="bairros ">
      <h5 class="text-start">Bairros</h5>

      <select class="form-select" id="bairro">

        <option disabled selected value="" id="defaultSelect">
          -- Selecione um bairro --
        </option>

        {% for bairro in bairros %}
        <option
          name="bairro"
          id="bairro-{{bairro.0}}"
          value="{{bairro.0}}"> {{bairro.0}}</option>
        
        {% endfor %}
      </select>


      
      </div>

      <div class="tipos_de_vaga">
        {% comment %} !!! SE ISSO MUDAR NO MODEL, TEM QUE MUDAR AQUI TBM !!!!
        TIPO_DE_VAGA_CHOICES=( ('NML', 'Padrão'), ('JAP', 'Jovem aprendiz'),
        ('PED', 'Pessoa com deficiência') ('EST', 'Estágio') ) {% endcomment %}
        <h5 class="text-start">Tipo de Vaga</h5>
        <select class="form-select" id="tipo_de_vaga">

          <option disabled selected value="" id="defaultSelect">
            -- Selecione um tipo de vaga --
          </option>

          <option
          name="tipos_de_vaga"
          id="tipos_de_vaga-padrao"
          value="NML"
        >Padrão</option>

        <option
          name="tipos_de_vaga"
          id="tipos_de_vaga-jovem_aprendiz"
          value="JAP"
        >Jovem aprendiz</option>

        <option
          name="tipos_de_vaga"
          id="tipos_de_vaga-estagio"
          value="EST"
        >Estágio</option>

        <option
          type="radio"
          name="tipos_de_vaga"
          id="tipos_de_vaga-pessoa_com_deficiencia"
          value="PED"
        >Pessoa com deficiência</option>

        </select>
        
      </div>

      <div class="removeFiltersContainer">
      <button class="btn btn-primary" id="removeFilters">
        Remover Filtros
      </button>
    </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col d-flex">
      <input
        type="text"
        id="buscador"
        class="w-100"
        placeholder="Procurar..."
      />
    </div>
  </div>
  <table class="table table-hover">
    <!-- <thead>
        <tr> 
            {% if user.is_authenticated %}
            <th></th>
            {% endif %}
            <th scope="col">Vagas</th>
            <th scope="col">Cargo</th>
            <th scope="col">Empresa</th>
            <th scope="col">Vagas</th>
            <th scope="col">Experiência</th>
            <th scope="col">Escolaridade</th>      
            {% if user.is_authenticated %}
            <th>Empresa</th>                      
            {% endif %}
          </tr>
        </thead>-->
    <tbody id="busca">
      {% for vaga in vagas %}
      <tr
        id="{{forloop.counter}}"
        data-tipo="{{vaga.tipo_de_vaga}}"
        data-escolaridade="{{vaga.escolaridade}}"
        data-cargo="{{vaga.cargo}}"
        data-bairro="{{vaga.empresa.bairro}}"

        style="background-color: rgba(230, 230, 230, 0.274)">
        <div id="{{forloop.counter}}-div" class="text-start py-4">
          <div class="row">
            <div class="col d-flex">
              <div>
                <div class="d-flex">
                  <h4 id="{{forloop.counter}}-cargo" class="cargo">
                    {% if request.user.is_staff %}{{vaga.empresa}} - {% endif%}{{vaga.cargo}}{% if request.user.is_staff %} - {{vaga.dt_inclusao | date:"d/m/Y"}}{% endif%}
                  </h4>
                </div>

                <div>
                  <small>Vagas: {{vaga.quantidadeVagas}}</small>
                  {% if vaga.experiencia == 'Sim' %}
                  <span class="ms-4 text-gray"><i>Requer experiência!</i></span>
                  {% endif %}
                </div>
              </div>
              <div class="ms-auto text-center">
                <a
                  href="{% url 'vagas:visualizar_vaga' vaga.id %}"
                  class="btn btn-success"
                >
                  DETALHES DA VAGA
                </a>
                {% if vaga.tipo_de_vaga != 'NML' %}
                <span class="d-flex">
                  <h6 class="me-auto mt-3">[</h6>
                  <h6 class="ms-auto mt-3">
                    {{vaga.get_tipo_de_vaga_display}}
                  </h6>
                  <h6 class="ms-auto mt-3">]</h6>
                </span>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col pt-1">
              <div>
                <span
                  ><b class="me-1">Escolaridade:</b>
                    {{vaga.escolaridade}}
                  </span
                >
                <span class="ms-4"
                  ><b>Carga hóraria:</b> {{vaga.carga_horaria}}</span
                >
                <span class="ms-4">
                  {% if vaga.regime != '' %}
                  <b>Regime:</b> {{vaga.regime}} {% endif %}</span
                >
                <span class="ms-4"><b>Bairro:</b> {{vaga.empresa.bairro}}</span>
              </div>
            </div>
          </div>
        </div>
      </tr>{% endfor %}
    </tbody>
  </table>
  <style>
    #buscador {
      background-image: url("/static/images/search.png");
      background-position: 10px 8px;
      background-repeat: no-repeat;
      font-size: 16px;
      padding: 12px 0px 12px 50px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
    }
    td img {
      visibility: hidden;
    }
    table {
      font-size: 0.9em;
    }
    h4 {
      color: #507b9b;
      font-weight: 700;
      text-transform: uppercase;
    }
    .text-gray {
      color: gray;
    }
    .filter-hidden {
      display: none !important;
    }
    .opcoes-filtros {
      margin-top: 48px;
      width: 100%;
      display: grid;
      gap: 0 20px;
      grid-template-columns: repeat(4, 1fr);
    }
    .removeFiltersContainer{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
  </style>
  <script>
    const activeFilters = {
      tipo_de_vaga: "",
      bairro: "",
      escolaridade: "",
      name: "",
    };

    function showEditIcon(id) {
      id.style.visibility = "visible";
    }

    function hiddenEditIcon(id) {
      id.style.visibility = "hidden";
    }

    function filtrar(){
      document
      .querySelector("#busca")
      .querySelectorAll("tr")
      .forEach((e) => {
        tr = document.getElementById(e.id);
        div = document.getElementById(e.id + "-div");

        escolaridade = tr.dataset.escolaridade.toLowerCase();
        tipo = tr.dataset.tipo.toLowerCase();
        bairro = tr.dataset.bairro.toLowerCase();

        /*
        console.log(escolaridade.indexOf(activeFilters.escolaridade))
        console.log(tipo.indexOf(activeFilters.tipo_de_vaga))
        console.log(bairro.indexOf(activeFilters.bairro))
*/

        if (escolaridade.indexOf(activeFilters.escolaridade) >= 0 && 
            tipo.indexOf(activeFilters.tipo_de_vaga) >= 0 &&
            bairro.indexOf(activeFilters.bairro) >= 0) {

          div.style.display = "block";
          tr.style.display = "block";
          div.classList.remove("filtrado");

        } else {
          div.style.display = "none";
          tr.style.display = "none";
          div.classList.add("filtrado");
        }
      });

    }

    function filterName() {
      $("#buscador").on("keyup", function () {
        activeFilters.name = $(this).val().toLowerCase();

        $("#busca tr").filter(function (t) {
          const tr = document.getElementById(this.id);
          const div = document.getElementById(this.id + "-div");

          
          cargo = document.getElementById(this.id+'-cargo').innerText.toLowerCase() 

          if (cargo.indexOf(activeFilters.name) >= 0) {
            if (!div.classList.contains("filtrado")) {
              div.style.display = "block";
              tr.style.display = "block";
            }
          } else {
            div.style.display = "none";
            tr.style.display = "none";
          }
        });
      });
    }

    $(document).ready(filterName);

    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-J1XYYXN5V6");

    window.onload = function () {



      const escolaridadeInput = document.querySelector("#escolaridade")
      const bairrosInput = document.querySelector("#bairro")
      const tipos_de_vagaInput = document.querySelector("#tipo_de_vaga")


      function clear(){
        activeFilters.tipo_de_vaga= "",
        activeFilters.bairro= "",
        activeFilters.escolaridade= "",
        activeFilters.name= "",

       escolaridadeInput.querySelector('#defaultSelect').selected = true
       tipos_de_vagaInput.querySelector('#defaultSelect').selected = true
       bairrosInput.querySelector('#defaultSelect').selected = true

       filtrar()
      }

      document.querySelector("#removeFilters").addEventListener("click", clear)

      document.querySelector("#filtros").addEventListener("click", () => {

        const filtros = document.getElementById("opcoes-filtros");

        if (filtros.classList.contains("filter-hidden")) filtros.classList.remove("filter-hidden");
        else {
          
          filtros.classList.add("filter-hidden");
          //clear()
        }
      });


        escolaridadeInput.addEventListener("change", (e) => {
          
          activeFilters.escolaridade = e.target.value.toLowerCase();
          filtrar()
        
        });


        bairrosInput.addEventListener("change", (e) => {
          
          activeFilters.bairro = e.target.value.toLowerCase();
          filtrar()
        });


        tipos_de_vagaInput.addEventListener("change", (e) => {
          
          activeFilters.tipo_de_vaga = e.target.value.toLowerCase();
          filtrar()
        
        });
    };
  </script>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-J1XYYXN5V6"
  ></script>
</div>
{% endblock %}
