{% extends 'template.html' %}
{% load static %}
{% load bootstrap5 %}
{% block nav %}
{% include 'nav_empreendedor.html' %}
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}
{% block main %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Projeto Novas Oportunidades</h1>
      <div class="row">
        <div class="col">
            <form method="POST">                
                {% csrf_token %}
                {% bootstrap_form form %}
                <input class="btn btn-primary" type="submit" value="Enviar">
            </form>
        </div>
    </div>
      
    </div>
  </div>
</div>
<div class="row mx-auto px-5">
  <script>
    document.getElementById('empreendedor_servicos').classList.add('s-nav-active');

    function icep(input) {
            input.value = input.value.replace(/\D/g, '');

            // Verifica se o valor tem pelo menos 5 dígitos
            if (input.value.length > 5) {
            // Insere o traço após o quinto dígito
            input.value = input.value.substring(0, 5) + '-' + input.value.substring(5);
            }
            }
    function mascara(o,f){
                v_obj=o
                v_fun=f
                setTimeout("execmascara()",1)
            }
        
    function execmascara(){
                v_obj.value=v_fun(v_obj.value)
            }
    function findParentDiv(element) {
        var parent = element.parentNode;
        
        // Continue subindo na árvore DOM até encontrar um elemento <div>
        while (parent && parent.nodeName !== 'DIV') {
          parent = parent.parentNode;
        }

        return parent;
      }
    // GAMBIARRA ABAIXO
    function removerElementos() {
          // Seleciona todos os elementos label
          const labels = document.querySelectorAll('label');

          // Itera pelos elementos label
          labels.forEach(function(label) {
              // Verifica se o label contém um input e o texto "---------"
              const input = label.querySelector('input');
              if (input && label.textContent.trim() === '---------') {
                  // Remove o elemento label do DOM
                  findParentDiv(label).remove();
                  // label.remove();
              }
          });
    }
    function toggleCamposSelecao() {
        var atividades = document.getElementsByName('atividade_manual');
        var camposCostura = document.getElementById('id_tipo_costura').parentElement;
        var camposAlimentos = document.getElementById('id_tipo_producao_alimentos').parentElement;
        var camposBebidas = document.getElementById('id_tipo_producao_bebidas').parentElement;

        // Verifica se a opção selecionada é Costura, Produção de Alimentos ou Produção de Bebidas
        var costuraSelecionada = false;
        var alimentosSelecionada = false;
        var bebidasSelecionada = false;
        for (var i = 0; i < atividades.length; i++) {
            if (atividades[i].checked) {
                if (atividades[i].value === '2') { // Costura
                    costuraSelecionada = true;
                }
                if (atividades[i].value === '7') { // Produção de Alimentos
                    alimentosSelecionada = true;
                }
                if (atividades[i].value === '8') { // Produção de Bebidas
                    bebidasSelecionada = true;
                }
            }
        }

        // Exibe ou oculta os campos de seleção correspondentes
        camposCostura.style.display = costuraSelecionada ? 'block' : 'none';
        camposAlimentos.style.display = alimentosSelecionada ? 'block' : 'none';
        camposBebidas.style.display = bebidasSelecionada ? 'block' : 'none';
    }

    // Adiciona um listener de evento de mudança para o campo de atividades manuais
    var atividades = document.getElementsByName('atividade_manual');
    for (var i = 0; i < atividades.length; i++) {
        atividades[i].addEventListener('change', toggleCamposSelecao);
    }

    // Executa a função toggleCamposSelecao quando a página carrega
    toggleCamposSelecao();
    removerElementos();
  </script>
</div>

<style>
  .border{
    border-color: rgba(146, 146, 146, 0.2) !important;
  }
</style>

{% endblock %}
{% block footer %}
{% include 'desenvolve_nf/instagram.html' %}
{% endblock %}