{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_empreendedor.html' %}
{% include 'slide_empreendedor.html' %}
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}
{% block main %}

<div class="container">

{% include 'servicos.html' %}
<!-- <div class="row">
  <div class="col d-flex pe-4">
    <h2 class="ms-5 pt-3 pb-4">PRINCIPAIS NOTÍCIAS</h2>
  </div>
</div>

<div class="row mx-auto px-5">
  <div class="d-flex flex-wrap">
    <div class="item border me-2">
      <div class="c-img" style="position: relative;">
        <img class="banner-img" src="{{curso.banner.url}}" >
        <span class="badge_item" style="background-color: {{curso.categoria.cor}}; position: absolute; top:0; right: 0; margin: 5px; padding: 0px 4px; border-radius: 6px; font-size: 10pt; color: white;">
          Sei lá          
        </span>
      </div>
      <div class="curso-text mx-2 d-flex flex-column py-1">
        <h6 class="mt-2">Nome</h6>
        <a href="#" class="btn btn-outline-primary rounded-1 btn-details py-1 mt-auto mb-3" id="esp-2">Ver detalhes</a>
      </div>
    </div>
  </div>
</div> -->
<div class="row">
    <div class="col d-flex flex-column pe-4">
      <h2 class="ms-5 pt-3 pb-4">FALE CONOSCO</h2>
      <div class="d-flex item border py-4 w-100 mx-5 text-center" style="font-size: 20pt;">
        <div class="d-flex m-auto w-100 px-5">
          <span class="mx-auto"><i class="fa-brands fa-whatsapp me-2"></i>(22) 2525-9151</span>
          <span class="mx-auto"><i class="fa-solid fa-phone me-2"></i>(22) 2525-9151</span>
        </div>
      </div>
    </div>
  </div>
  <div id="overlay"></div>
  <div id="modalBanner" class="alert"  style="background-color: #ffffff;">
    <div class="row">
      <div class="col d-flex pt-3 pb-2">
        <div class="m-auto">
          <a class="w-100" href="licitacacao-banner2" target="_blank">
          <img src="{% static 'images/licitacacao-banner2.png' %}" class="img-fluid" alt="Banner mapeamento artesão">
          </a>
        </div>
      <span id="close-btn-banner" class="ms-auto" style="color: black;" onclick="closeModalBanner()">
        <i class="fa-solid fa-circle-xmark"></i>
      </span>
      </div>
    </div>
  </div>
  <style>
    #overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
    }

    #modalBanner {
        display: none;
        position: fixed;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        max-width: 90%; /* Defina a largura máxima do modal */
        padding: 20px;
        /* background-color: #fff; */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 10px; /* Adicione bordas arredondadas ao modal */
    }

    #modalBanner h2 {
        margin-top: 0;
        color: #333; /* Cor do título do modal */
    }
    #close-btn-banner {
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 18px;
        color: #888; /* Cor do botão de fechar */
    }

    #close-btn-banner:hover {
        color: #555; /* Cor do botão de fechar ao passar o mouse */
    }

    /* Adicione mais estilos conforme necessário */

    #modalBanner .row {
        margin-bottom: 10px;
    }

    /* Adicione estilos específicos para a mensagem usando as classes de tags */
    #modalBanner.error {
        border: 2px solid #ff3333;
        background-color: #ffeeee;
    }

    #modalBanner.success {
        border: 2px solid #33cc33;
        background-color: #eeffef;
    }
</style>
<script>
   function openModalBanner() {
        document.getElementById('modalBanner').style.display = 'block';
        document.getElementById('overlay').style.display = 'block';
    }

    function closeModalBanner() {
        document.getElementById('modalBanner').style.display = 'none';
        document.getElementById('overlay').style.display = 'none';
    }
    window.onclick = function(event) {
        var modal = document.getElementById('modalBanner');
        var overlay = document.getElementById('overlay');
        if (event.target === overlay) {
            modal.style.display = 'none';
            overlay.style.display = 'none';
        }
    }
  openModalBanner()
</script>
<div class="row mx-auto px-5">
  <script>
    document.getElementById('empreendedor_inicio').classList.add('s-nav-active');
  </script>
</div>
</div>
<style>
  .border{
    border-color: rgba(146, 146, 146, 0.2) !important;
  }
</style>
<script>
//   const carousel = document.querySelector(".carousel");
// const slides = Array.from(document.querySelectorAll(".slide"));
// const prevButton = document.querySelector("#prev");
// const nextButton = document.querySelector("#next");
// let current_active = 0
// let interval;

// make_active(slides[current_active])

// prevButton.addEventListener('click', () => {cancel_auto_slider(); previous_slide(); start_auto_slide(6000)})

// nextButton.addEventListener('click', () => {cancel_auto_slider(); next_slide(); start_auto_slide(6000)})

// document.querySelector('.slides').addEventListener('mouseover', () => {
//   cancel_auto_slider()})
// document.querySelector('.slides').addEventListener('mouseout', () => {
//   start_auto_slide(4500)
// })

// function next_slide(){
//   const old = current_active
//   if(current_active + 1 > slides.length - 1) current_active = 0
//   else current_active += 1
//   change_slide(slides[old], slides[current_active])
// }

// function previous_slide(){
//   const old = current_active
//   if(current_active - 1 < 0) current_active = slides.length - 1
//   else current_active -= 1
//   change_slide(slides[old], slides[current_active])
// }

// function change_slide(old_element, new_element){
//   make_hidden(old_element)
//   make_active(new_element)
// }

// function make_active(element){
//   element.classList.add("active")
// }

// function make_hidden(element){
//   element.classList.remove('active')
// }

// function start_auto_slide(ms = 4500){
//   interval = setInterval(()=>{
//     next_slide()
//   }, ms)
// }
// start_auto_slide()

// function cancel_auto_slider(){
//   clearInterval(interval)
// }

</script>

{% endblock %}
{% block footer %}
{% include 'desenvolve_nf/instagram.html' %}
{% endblock %}