{% if requerimento.exist_boleto_requerimento %}
<div class="row">
  <div class="col d-flex">
    <span class="alert-success text-center py-3 mx-4 mt-3 w-100">
      Processo finalizado!
    </span>
  </div>
</div>
<div class="row">
    <div class="col d-flex flex-column pt-4 pb-3 px-5">
        <hr>
        <div class="row">
            <div class="col">
                <p class="text-center">Número de inscrição municipal:</p>
                <h3 class="text-center">{{requerimento.n_inscricao}}</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col pt-2">
                <a target="_blank" href="{{requerimento.boleto.url}}" class="btn btn-primary mt-3 mb-3">
                    <i class="fa-solid fa-file-arrow-down me-2"></i>Download do boleto
                </a>
            </div>
        </div>
    </div>
</div>
{% endif %}